[2018-10-26 13:57] rijkvanzanten opened #12 "Deploying build-v7 with docker-compose shows permission error in browser"
Moved from https://github.com/directus/directus/issues/2217
OP: @jellevdp

---

## Version Info
  - Directus version and branch (Or commit hash):
build-v7
  - PHP version: n/a
  - MySQL version: n/a
  - Web server: (Ex. Apache, nginx or IIS?) n/a
  - OS name and version: Ubuntu 16.04 (clean DGO droplet)

## Expected Behavior
After starting the build-v7 via docker-compose to see the application in

[2018-10-29 15:11] WoLfulus opened #1 "API should support a flag to disable marketplace and autoupdates"
As we are working with an immutable infrastructure, images shouldn't change after they are built.

I suggest adding an environment variable like `DISABLE_MARKETPLACE` and `DISABLE_AUTOUPDATE` so these features won't make any changes to the filesystem and/or code inside the image.

The Docker images should still allow auto-updates and marketplace plugin installations because some people will want t

[2018-10-29 15:18] WoLfulus opened #2 "API plugins should be installed via CLI commands"
Following the idea of immutable infrastructures, we should allow plugin installations from marketplace via CLI commands, which allows us to build custom images based on the official ones and extend its features installing additional plugins.

This should work even if disable flags are set (https://github.com/directus/docker/issues/1)

For example, the following will build an image with three plugi

[2018-10-29 15:24] WoLfulus opened #3 "API should allow auto-installation of the database"
When auto-provisioning infrastructure, we can allow some kind of auto-installation of the database.

For example, if a system is built around Directus, we might want to provision infrastructure for tenants automatically (via k8s or any other orchestrator), the image in this case should be able to detect new installations and create all the necessary directus tables.

I did some tests here for my o

[2018-10-29 15:29] rijkvanzanten commented on #1
What about image uploads / error log files?

[2018-10-29 15:33] rijkvanzanten commented on #3
The database schema is being installed using the migration files (and seeders) in https://github.com/directus/api/tree/master/migrations. Maybe we can use that for this too?

[2018-10-29 15:35] benhaynes commented on #2
This should be possible, right @WellingGuzman ?

[2018-10-29 15:46] benhaynes commented on #3
I still like the idea of defining the schema in YAML/JSON... but for now we have the SQL/PHP migration files, so we should see if we can make those work.

[2018-10-29 15:46] WoLfulus commented on #3
I think thats the one I'm using right now on `bootstrap.php` link I mentioned.

For directus stuff this works well, but I'm thinking about developers that built systems around directus and wants to provision containers for tenants (they must also install their own tables)

As an alternative, I thought about something like an initialization scripts and expose some CLI commands to automate what we w

[2018-10-29 15:58] WoLfulus opened #4 "API configuration should support configuration through environment variables"
In docker, it's more common to get configurations through environment variables.

Maybe we can have have an additional `api_sample.php` ready for environment variables and docker inside the `api` repository so we can just move that file as the main one inside docker images (thus, avoiding files in the docker repository that can get out of sync with the `api` repository ones)

Related issues:

http

[2018-10-29 16:00] WoLfulus commented on #1
We should guide the end user into using something like minio/s3 for storage and/or mounting the data folder (uploads) into a volume, which is pretty normal on docker environments

[2018-10-30 09:15] stickgrinder commented on #1
I guess volumes are the way to go for a first iteration. They are also the go-to choice in Kubernetes envs that are becoming the de facto standard for container orchestration today.

[2018-10-30 09:20] stickgrinder commented on #2
Sounds like using a composer-like strategy for plugins may also do. Declaring plugins and updates in a file and issuing a single build would also allow to run custom builds starting from stable image without adding layers for each plugin or update (can still be done with a single RUN and chained commands).

In addition, having them in a declarative format allows for a single volume mount in local

[2018-10-30 11:11] rijkvanzanten commented on #3
@stickgrinder it also plays in with the idea of an export and import endpoint. We've been toying with the idea of having a way to import/export your current schema setup to JSON

[2018-10-30 14:36] WoLfulus commented on #3
that would be nice, since we can configure the base instance, export the data and make the image import everything later

[2018-10-30 14:39] WoLfulus commented on #2
Thats awesome. I haven't thought about the composer-like strategy.

Also, what you mean with declarative format? Having a single folder where extensions are stored?

[2018-10-30 14:43] stickgrinder commented on #3
I also prefer explicit declarations. But the fundamental part here is to create a _contract_ to store schema configuration in code. Importing/exporting/generation is just icing :)

[2018-11-12 22:01] lrkwz opened #7 "Api logfile should be bound to stderr"
In my opinion you hould configure

* apache log bound to stdout (quite useless in my opinion)
* application error log bound to stderr

[2018-11-14 20:03] WoLfulus commented on #7
Apache was dropped for nginx...

If i'm not mistaken It's already set to stdout/stderr now, but I'll double check that...

:)

[2018-11-16 14:20] lrkwz commented on #7
You re right latest image has nginx on board but still `/var/www/html/logs` contains a log file which you cannot see using `docker-compose logs -f`.

`docker-compose exec directus-api tail -f "/var/www/html/logs/error.2018-11-16.log"` is still the only way.

[2018-11-16 14:44] WoLfulus commented on #7
Awesome! I'll take a look!

[2018-11-16 16:59] lrkwz commented on #7
In your `/etc/php7/php-fpm.conf`

    error_log = /proc/self/fd/2

is already configure.

BUT ...

https://github.com/directus/api/blob/master/src/core/Directus/Application/CoreServicesProvider.php#L59 tells us you are using Monolog|Logger wich is configured to write in a file and probably can be configured to write into `/proc/self/fd/2` (see https://github.com/directus/api/blob/master/src/core/D

[2018-11-20 02:33] davidmontgom opened #9 "Your docker docs not not WORK"
Warning: docker support is experimental and we're still gathering some more feedback from the community. You can raise issues or ping us in #docker channel on slack.

Clearly the above is true.  This should be stupid easy but its not.

Below I have running in 2 separate terminals:

docker run   --env "DATABASE_HOST=localhost" --env "DATABASE_PORT=3306" --env "DATABASE_NAME=directus" --env "DATABAS

[2018-11-20 15:07] benhaynes commented on #9
Hey @davidmontgom — we're a small team for a free and open-source project... so we're very reliant on contributions from the community. As of now, @WoLfulus has graciously offered his time to help get Docker up-and-running for Directus. There may be _fast_ ways to get things working, but we're focused on doing things the _best_ way.

We'd love your help or input if you have recommendations or some

[2018-11-20 15:30] WoLfulus commented on #9
Hey @davidmontgom!

Sorry for the README as it is right now. I know its kinda confusing right now, but I'm working on it!

Seems like you're trying to run your database on the host, not in a container. Setting `DATABASE_HOST` to `localhost` won't make it work since in this case you're making the API try to connect to itself, not the host machine.

Please refer to Docker networking documentation (h

[2018-11-20 15:47] navossoc commented on #9
@davidmontgom Hey buddy, I think from the moment you stop following a cake recipe, you need to know what you're doing...

This obviously was not the case here and worst of all: you still did not know how to ask for help politely.

Cheers...

[2018-11-20 16:12] WoLfulus commented on #9
I just pushed an example in https://github.com/directus/docker/tree/master/examples/single-api

Tell me if that works for you!

😄

[2018-12-05 14:08] joshuaavalon opened #10 "Thumbnailer return JSON error instead of image"
# Bug Report

## Steps to Reproduce

1. Create a collection with a file field
2. Upload an image
3. Go back to collection page
4. See error

## Expected Behavior

Show thumbnail.

## Actual Behavior
Status code 404

[code]

## Other Context & Screenshots

![directus](https://user-images.githubusercontent.com/7152420/49518604-ffeb4300-f8d9-11e8-995c-4f884f5ffd99.PNG)

The original image is fine. On

[2018-12-06 08:02] stickgrinder commented on #10
I'm posting this here since it may be related: I think configuration is OK in my case but thumbnails can't be generated. The request for `thumbnail/_/` just returns a 404. The `index.php` file that is supposed to generate the thumbnail if it's not there isn't invoked at all. The culprit here is  the missing nginx configuration for the `thumbnail` location (also see https://github.com/directus/api/

[2018-12-06 16:09] makote commented on #10
I'm having a similar problem running an instance on a webfaction acount. Everything seems fine. but the index.php file never gets called.

200x200 thumbnails do work I imagine this is caused by the upload via the Application.

[2018-12-06 16:11] stickgrinder commented on #10
@makote it would suffice to check if thumbnails are actually already there... try to move or rename the file and see if it gets re-generated.

[2018-12-07 18:36] makote commented on #10
Funny thing there is only one image that was generated its 200x200 and its the first Image I called/uploaded. Everything else afterwards hasn't been created.

However when i call the file via the api, it sends links to the 4 sizes that where specified at the settings level.

also, my /thumbnail/index.php is not being procesed as I added a 500 error too to figure out if it had been triggered.

[2018-12-10 10:21] stickgrinder commented on #10
The exact same thing is happening here... index.php is ignored.
I wonder how you managed to get one generated. Are you sure you were running Directus in the container?

[2018-12-11 02:56] joshuaavalon commented on #10
@benhaynes Any updates on this?

[2018-12-11 04:00] benhaynes commented on #10
Unfortunately I don't have much experience with Docker so I can't help much. This Docker work has mostly been provided by the community.

@WellingGuzman @rijkvanzanten  – any thoughts on this?

[2018-12-11 16:13] makote commented on #10
@stickgrinder im not running on docker, I came here from your other post.

**My current workaround:**
I manually added the sizes to thumbnailer.php and now it works.

`  public function getSupportedThumbnailDimensions()
    {
        $defaultDimension = '200x200';
        $dimensions =  $this->parseCSV(
            ArrayUtils::get($this->getConfig(), 'thumbnail_dimensions')
        );
        if (

[2018-12-11 17:21] stickgrinder commented on #10
@makote sorry, I didn't get it.

What `$this->getConfig()` returns when called in the commented line? Is the `thumbnail_dimensions` key present?

[2018-12-12 00:31] makote commented on #10
@stickgrinder yep, the thumbnail dimensions is present in the DB, however I don't believe the call is the problem. I believe since index.php is not triggered. it does it by default somehow?.

Noobie coder here. But this works for generating all of the above sizes and the other approach didn't.

[2018-12-12 09:45] RyanPrice-King commented on #10
where is thumb_root in the api.php?
 'adapter' => getenvs('STORAGE_ADAPTER', 'local'),
                'root' => getenvs('STORAGE_ROOT', 'public/uploads/_/originals'),
                'root_url' => getenvs('STORAGE_ROOT_URL', '/uploads/_/originals'),
                'key' => getenvs('STORAGE_KEY', 's3-key'),
                'secret' => getenvs('STORAGE_SECRET', 's3-secret'),
                'regio

[2018-12-12 14:53] makote commented on #10
@stickgrinder its actually a weird setup since its Webfaction. It runs apache in the shared instance but the public layer is served by nginx.

However. if someone can help me understand why when I hardcode the values. The thumbnailer api is called, but when values get pulled from settings it doesn't work.

[2018-12-18 20:05] aiomaster commented on #10
I tried to use the patch from @makote here https://github.com/directus/docker/issues/10#issuecomment-446261204 in my docker container but it does not help.
I also tried to add the `thumb_root` in the api.php like @RyanPrice-King suggested, but nothing helped here.
No thumbnails get generated.
Any ideas?

[2018-12-19 08:06] mvhirsch commented on #4
I think it already does this: https://github.com/directus/docker/blob/master/projects/api/api.php
At least, I'm able to use it with env variables like:

* DATABASE_HOST
* DATABASE_NAME
* ADMIN_EMAIL
* ADMIN_PASSWORD
* ...

But I can't find any description or documentation about this, sadly. Can we get this documented somewhere?

[2018-12-19 11:38] WoLfulus commented on #4
Hi @mvhirsch!

It's on the repository `README.md` file

[2018-12-19 15:06] WoLfulus commented on #10
I patched with all suggestions present in this post, and it was nginx routing problems indeed.

[2018-12-19 16:37] stickgrinder commented on #10
Great work @WoLfulus! Many thanks for your effort! I took a look at your commit and I'm puzzled about the nested `location` to bring PHP files handlers in each single statement.

Don't want to bother you for stuff I can learn from documentation but if you don't mind sharing some insight on why this is necessary (or linking a resource) it would be great!

You rock man, thanks! :+1: :heart:

[2018-12-19 18:29] kmaris opened #11 "Support for multiple API endpoints"
Is there any work being done for supporting multiple API's? I see a placeholder: https://github.com/directus/docker/tree/master/examples/multiple-api

I could do some work towards this, I have a demo for another issue directus/api#636 that might have a useful docker-compose.yml to get things rolling: https://github.com/kmaris/directus-demo

[2018-12-19 19:13] WoLfulus commented on #11
Hi @kmaris !

The placeholder will be just an example that spawns multiple different containers for different api instances. Nothing related to multiple api.php files.

Mouting the config like you did works just fine, but we're focusing on getting instances configured through environment variables, and having different apis on the same containers makes it hard to get it right, if not impossible.

[2018-12-19 19:18] WoLfulus commented on #10
Hi @stickgrinder

We're on the same boat. There's probably a better way to write that nginx configuration file, that was just how I ended up doing it. I tried several configs before leaving it that way.

I wasn't aware that thumbnails were generated on demand when the file was requested, so I spent most of the time tracking before finding the `public/thumbnail` folder 😆

[2018-12-19 19:20] WoLfulus commented on #4
This still needs discussion, but I'm closing this for now.

[2018-12-19 19:20] #4 closed

[2018-12-19 19:21] WoLfulus commented on #10
From the tests I've have, it should work after next release. I'm closing this for now, but we can reopen this if the problem persists.

[2018-12-19 19:21] #10 closed

[2018-12-19 19:51] kmaris commented on #11
The directus-demo was more about showing an issue with hosting under a path that's not /, something like /catalogue. Multiple api containers would be fine. Same with multiple database containers.

The problem I am running into is urls. Seems the api and app are using urls like /interfaces, /collections, etc which are global to the api instance. For my hosting situation there's no chance of using u

[2018-12-19 20:02] aiomaster commented on #10
When will a new release be pushed? Do we have to wait for the next directus api or app release or can you push the fix right now?
Thanks again for fixing this.

[2018-12-19 20:33] WoLfulus commented on #11
I didn't get it. You want to host different apis on different paths? Like...

- API1 -> /api1/_/
- API2 -> /api2/_/

[2018-12-19 21:46] rijkvanzanten commented on #10
Good news, I didn't get around to releasing 7.0.12 past Friday, so the next release is going to be today!

[2018-12-20 08:12] mvhirsch commented on #7
Monolog uses Handlers for this. The `StreamHandler` is already used in Directus, but setting it to a file.
Instead of doing so, the `StreamHandler` is capable of writing to any stream (like STDOUT).

[code]

----

Sidenote: after a quick look at the code in `CoreServicesProvider::getLogger()`, it looks like much more complicated then it should. Monolog is capable of logging to "level N + above". F

[2018-12-21 09:40] rjwismar commented on #10
I have also a problem with that.
I figure out that '$this->getConfig()' will return a array with the needed entry 'thumbnail_demensions' but the 'ArrayUtils' can't get them. The 'ArrayUtils' return NULL but not the configured settings.
[code]

In this example I get the integer key of 'thumbnail_demensions' and in the next step I get the value of this key

[code]

[2018-12-31 15:18] joshuaavalon opened #14 "Cannot upload files (Max Size: 0B)"
**docker-compose.yml**
[code]

If I send a get request to `http://192.168.1.187:7000/_/`, I get
[code]

However,

![directus](https://user-images.githubusercontent.com/7152420/50562720-6cc6f100-0d51-11e9-8037-8d2af467d661.PNG)

Potential problem(?)

There are two errors in network tab.

1. OPTIONS 405 on `http://192.168.1.187:7000/`
My guess is it should be `http://192.168.1.187:7000/_/` instead.

[2019-01-01 10:13] joshuaavalon commented on #14
Some update. The problem seems to be `directus/api`. If I point the api address to the demo one, there aren't any error.

[2019-01-04 01:20] stormbyte commented on #14
I changed
`try_files $uri $uri/ /index.php$is_args$args;`
 to
`try_files _ /index.php$is_args$args;`

This seems to work for now but routing all calls to php and not trying to serve the file directly.
File: `rootfs/etc/nginx/conf.d/default.conf`

[2019-01-04 01:36] stormbyte commented on #14
And for fixing the js and css files
[code]
above
[code]

[2019-01-04 01:46] joshuaavalon commented on #14
@stormbyte What does `try_files _` actually do? I cannot find it anywhere?

[2019-01-04 15:49] Felix-IR commented on #14
Doesn't helped me, getting following error
[code]

[2019-01-04 20:01] stormbyte commented on #14
@joshuaavalon the `try_files _` forces the fallback `/index.php$is_args$args;` to be parsed

The solution is not yet complete as I now missing some css.
`extensions/core/layouts/tabular/layout.css`
This file does not exist inside the image

[2019-01-05 02:42] WoLfulus commented on #7
@WellingGuzman can we work out a way to configure (api.php) the logger so we can forward everything to the stdout/stderr instead of the default Writer that uses dated files in logs folder?

Its been a real pain to debug stuff inside docker without logs being forwarded to the terminal

[2019-01-05 02:49] WoLfulus commented on #14
Can you guys confirm that this is fixed on my last commit?

Thanks!

[2019-01-05 06:59] rwatts3 commented on #14
Hi unfortunately I don't think the latest image was built.
Docker hub shows the images were updated 2 months ago.
And I just docker pulled, nothing came down, and it's the same image.

[2019-01-05 07:03] rwatts3 commented on #14
Correction, I see docker/api was updated 4 hours ago, however the problem is still the same.

[2019-01-05 10:04] stormbyte commented on #14
For some reason I don't get the updated version from docker hub.
manualy updated the `default.conf` it does seem to fix the `Max Size: 0B` As i can upload images and see the thumbs.

[2019-01-05 10:37] WoLfulus commented on #14
Hey!

Yesterday I failed to make a proper build of the images and it ended up without any changes.
I manually triggered the build again now.

Can you guys please pull the images again and make a new test?

Thanks!

[2019-01-07 05:54] stormbyte commented on #14
Have pulled the changes and see the update.
First tests work, nice job

[2019-01-07 15:13] stickgrinder opened #15 "Docker project documentation"
Following a discussion on Slack, I'd like to help with documentation, starting out with the following:

* available repository and their roles
* how dockerhub images are built and which availability the community should expect
* architecture of the docker images (and possible reasons behind architectural choices)
* contributions guidelines
* FAQ/Q&A

I'm available to collect raw information from r

[2019-01-07 15:16] benhaynes commented on #15
Best next step would be a Pull Request to the [Docs repo](https://github.com/directus/docs). I think all the Docker info should go within a `Docker` guide, so we can duplicate the structure of a page like this:

https://github.com/directus/docs/blob/master/guides/roles.md

As soon as we have a basic structure I'd say let's merge it in so it's on our Docs site (even if it's bare bones). Then we can

[2019-01-07 15:18] stickgrinder commented on #15
Very good, it would be great to have all in one place! Forking... ;)

[2019-01-07 16:18] benhaynes opened #16 "Add descriptions to DockerHub repos"
Hey @WoLfulus — let's get some descriptions of what the `app`, `api`, and `builder` repos on our DockerHub are.

[2019-01-07 20:33] WellingGuzman commented on #7
Sure, I think the quickest solution will be to move the custom path format to the config, so it allows to set the path to `php://stdout` and ignore the file logging to `logs` directory.

[2019-01-17 15:25] dev7ch opened #18 "docker-compose up does not work as expected"
`ERROR: manifest for wolfulus/directus-api:latest-alpha not found`

Is there sth not updated or i am wrong?

`cd projects/ && docker-compose up`

[2019-01-17 15:34] WoLfulus commented on #18
That file shouldn't have been commited. My bad.

Use examples folder instead.

[2019-01-17 17:04] dev7ch commented on #18
ok thank you.

inside `local/` or `examples/` it is working fine

[2019-01-17 18:18] WoLfulus commented on #18
Awesome! 😄

[2019-01-17 18:18] #18 closed

[2019-01-22 04:10] darrenzhu opened #43 "Custom docker image with S3 adapter issue"
## Version Info
  - Directus API version 2.0.14:

I'm trying to create a docker image based on the original directus-api image (from here: https://github.com/directus/docker/tree/master/projects), but with the aws-sdk-php installed.

Without aws-sdk-php, I get an error when uploading files using the s3 adapter: `"[21-Jan-2019 18:52:03 UTC] PHP Fatal error: Uncaught Error: Class 'Aws\S3\S3Client' n

[2019-01-22 17:05] bonaccorsop opened #19 "Docker setup: nginx respond 405 on authentication"
This is my current docker-compose file:

[code]

accessing at http://localhost:30031/#/login and typing my credentials I obtain a 405 nginx error:

![schermata 2019-01-22 alle 18 01 10](https://user-images.githubusercontent.com/539257/51552178-50aa0180-1e70-11e9-92bb-cb8c1493e1c6.png)

![schermata 2019-01-22 alle 18 01 15](https://user-images.githubusercontent.com/539257/51552193-57d10f80-1e70-11e

[2019-01-24 21:33] beac0n commented on #14
This bug reappeared with the latest docker image (2.0.15), but it is fixed in 2.0.13.

It is really frustrating to not being able to update the api to the latest docker image, without fearing that an alrady closed bugs will reappear.

[2019-01-24 21:34] rijkvanzanten commented on #19
No worries! I'll transfer it over.

[2019-01-25 11:36] WoLfulus commented on #14
@beac0n I'll need to check what changed from .13 to .15

We're in the process of rethinking the repository structure itself, the release pipeline and in this process I'll find a way to make tests on the docker image itself each release we make before pushing to docker hub so we can avoid bugs related to docker image itself.

Sorry about that :(

[2019-01-25 11:43] WoLfulus commented on #19
I think you're setting the APP environment variables to a wrong format.

[code]

can you try changing the above to and see what happens?

[code]

[2019-01-25 11:46] WoLfulus commented on #7
@WellingGuzman have this landed in api already?

[2019-01-27 11:13] mekeerati opened #20 "Is that api docker image bundled s3 adapter?"
From the document it seems like s3 adapter is not bunddled by default.
However, I found the api.php config in this project already have s3 config

So, is that the image already bundle the s3 adapter. If not shall we support it as a separated image?

[2019-01-27 12:51] mekeerati commented on #20
Thanks @WoLfulus !!

[2019-01-27 12:51] #20 closed

[2019-02-07 15:28] PostPollux opened #21 "Add volumes by default for persistent data"
I think it would be great if there were volumes added to the docker-compose files by default. I could do it myself, but I actually don't really know which paths I should map to a volume. Any hints?

I guess for the mysql container it's: /var/lib/mysql

But which paths are supposed to be used for "api" or "app" if any?

[2019-02-07 18:08] PostPollux opened #22 "CORS error when opening the app"
I just used "docker-compose up" with the current "examples/single-api/docker-compose.yml" as my dockerfile.
I didn't change anything on this dockerfile. So I suppose it should work. But I get an CORS error when i go to the app under localhost:8000. The login fields are greyed out and it says, that it couldn't reach the api. I tested it with Brave browser and with Firefox.
Here are the screenshots:

[2019-02-09 12:35] pdsm opened #23 "Change API url on the Dashboard (APP)"
I am trying to use **Directus 7** in docker and I have encountered the following problem:

I have not been able to change the API URL in the Dashboard (APP), no matter what I assign to the environment variable **API_ENDPOINT** or **API_URL**. Whenever I open the dashboard it tries to go to the url **http: // localhost: 7000..../ping**, and since the API is not found there, it fails.

Is there any

[2019-02-09 19:22] samvasko commented on #22
I had the same issue and resolved it by using the latest tagged version.
You can disable CORS in your browser.

[2019-02-10 13:46] PostPollux commented on #22
Thanks, I can confirm this. It only happens with the "latest" tag which is 3 days old.
If I use "directus/api:2.0.16" and "directus/app:7.0.16" which are 13 days old, the CORS error is gone.

[2019-02-10 23:08] PostPollux commented on #23
I think I'm stuck at exactly the same point. Everything works in the basic setup (localhost setup) as long as I don't change anything in the docker-compse example. But I want to use Directus 7 behind the jwilder nginx reverse proxy. No matter what I set API_ENDPOINT to, the app does not seem to care.

Here for example i set it to "API; http://localhost:5000/_/" but it still looks for port 7000:

A

[2019-02-11 12:09] tvld opened #24 "Why exposing database port"
Any reason you are exposing [3306](https://github.com/directus/docker/blob/master/examples/single-api/docker-compose.yml) for the database? It is not needed other than by the ``api`` container, is it ?

So, would it not be better to use  [depends_on](https://docs.docker.com/compose/compose-file/#depends_on) ?

[2019-02-11 12:20] WoLfulus commented on #24
It's exposed just for local access. It's really not needed.

I'll remove it on the next patches!

;)

[2019-02-11 12:20] WoLfulus commented on #23
I'll take a look at this.

[2019-02-11 12:21] WoLfulus commented on #21
Cool!

I'll add more examples that shows the paths.

[2019-02-11 12:23] tvld commented on #24
ok, clear, thanks. Assume you got it covered somewhere else, so will close this ticket.

I suppose local access could mean PhpMyAdmin or such? ... But we can run admin tools in containers as well in sake of consistency.))

[2019-02-11 12:23] #24 closed

[2019-02-11 12:32] WoLfulus commented on #24
I was using TeamSQL to debug some startup scripts that interacts with the database, and I left the port on the compose file.

I could add adminer/phpmyadmin in some examples later too

[2019-02-11 17:32] samvasko commented on #23
Could you disable you cache and retry?

[2019-02-11 19:16] Steven-Harris commented on #22
I am having a similar issue.  Everything worked at first but when I restarted my containers I got some weird errors. downgrading didn't work

[2019-02-11 22:43] pdsm commented on #23
This fixed the problem, thanks!!

[2019-02-11 23:44] pdsm opened #25 "Form error is not shown in the dashboard"
Hello,

I am adding data in a new collection (where there are errors) but they are not showing in the form. Neither the red field nor any message.

In the image you can see that there is an error looking for resources, also is looking in the API URL (I do not know if this is right)

![image](https://user-images.githubusercontent.com/7040976/52601330-2929d180-2e3d-11e9-8330-be02be9803e1.png)

PS: u

[2019-02-12 10:00] samvasko commented on #23
Other possible solutions:
 - Configure caching
 - Programatically add version to the config file
 - Do nothing / Add comments to the JS file to warn the editors.

Ref:
https://medium.com/pixelpoint/best-practices-for-cache-control-settings-for-your-website-ff262b38c5a2

[2019-02-12 14:38] PostPollux commented on #23
I can confirm it fixes the problem! Thanks @samvasko !!!
Now directus seems to flawlessly run behind my reverse-proxy with ssl!

But I still think this should be fixed in some way or at least be documented somewhere...

[2019-02-12 16:32] PostPollux commented on #21
Ok, now that Directus finally works on my side I guess there have to be no other volumes! Am I right on this one?

The app seems to be only the frontend part so I have a ui to work with the api and database. No reason here to make something persistent...

The API container seems to just create the api based on the database data. So there seems to be no need for persistent data as well.
In the api

[2019-02-12 16:51] benhaynes commented on #23
@WoLfulus @samvasko @WellingGuzman

What could we add to the Docs to make this clearer? Is this specifically an API or Docker issue? Also, it's probably about time to add a dedicated "docker" section to [the Docs](https://github.com/directus/docs)... probably as a "Guide" or under "Advanced".

Do any of you have thoughts on this?

[2019-02-12 17:20] WoLfulus commented on #21
For `app`, yes, you're right - no need.

For `api` you should map volumes for file uploads (but for a cloud-native deployment you should use s3 instead)

[2019-02-12 18:46] PostPollux commented on #25
same here

[2019-02-12 20:26] rijkvanzanten commented on #25
It's rendering a notification on a non-docker install for me

<img width="466" alt="image" src="https://user-images.githubusercontent.com/9141017/52665808-8a53b280-2eda-11e9-84d9-652a28b8286b.png">

[2019-02-12 20:27] rijkvanzanten commented on #25
I can't think of any reason why the Docker install would handle errors any differently 🤔

[2019-02-13 10:17] samvasko opened #26 "Email does not work out of the box"
Emails are not working out of the box due to lack of SMTP when using `'transport' => 'sendmail',`
POSTing the `users/invite` endpoint results in following error:

[code]

<details><summary>With following traceback: (click to expand) </summary>
<p>

[code]

<p/>
</details>

[2019-02-13 10:29] kurnifamili opened #27 "Local database cannot be discovered"
Hi, I have a problem when I run `docker-compose up` with the following `docker-compose.yml`.
[code]

I just copy-pasted this from the single-api example and removed the database part. But my local database cannot seem to be discovered even though it is definitely up. It's always stuck in `api_1  | nginx: waiting for database...` until it finally times out.

I dug around in the code, and the comman

[2019-02-13 11:22] #27 closed

[2019-02-13 11:22] kurnifamili commented on #27
Sorry just realised that the docker container cannot communicate with my machine's localhost, hence the check is failing.

[2019-02-13 20:42] pdsm commented on #21
I am trying to map volumes for file uploads with /var/lib/api and its not working, the path its wrong?

[2019-02-13 20:49] PostPollux commented on #21
@pdsm
I already found the right path. It has to be: /var/www/html/public/uploads

[2019-02-13 21:55] pdsm commented on #21
/var/www/html/public/uploads is not working, can you share your docker file?

[2019-02-14 07:53] kurnifamili opened #28 "Custom authentication adaptor layer"
Hi, I have a beginner question. How can I implement my own auth provider (oauth 2) adaptor?

This page shows an example https://docs.directus.io/extensions/auth-providers.html#files-structure, but how does it work in this docker implementation? I don't see any related `auth` files in this repo, where it is located in `directus/public/extensions/core/auth/google/Provider.php` in the suite repo.

[2019-02-14 08:00] kurnifamili commented on #27
In case anyone intended to do the same for local development, you can provide `host.docker.internal` instead of `localhost` to use your local mysql DB.
Source: https://stackoverflow.com/a/43541681

[2019-02-14 09:53] PostPollux commented on #21
For me this path works. I'm not using AWS S3 storage. It's just on my server as well.

Here is my docker-compose file for the API. I'm using my own directus api image here, but it is exactly the same as the original with the difference, that I can set max upload sizes via an environment variable. I think I will make a pullrequest for that max upload size setting the next days so this can be add to

[2019-02-14 15:56] Nitwel commented on #26
Having the same issue in the non docker version so maybe move the issue to directus/api?

[2019-02-14 16:12] samvasko commented on #26
I posted this here because the issues cannot likely be resolved for all possible combinations of servers and OS but the docker should work out of the box.

[2019-02-14 21:41] pdsm commented on #21
I am trying to deploy this on kubernetes on gcp, using a PersistentVolume:

**mountPath: /var/www/html/public/uploads**

But the data is not saved after an implementation, some idea of ​​what might be happening?

[2019-02-15 06:49] kurnifamili opened #29 "Providing AUTH_OKTA_* env vars does not display login with Okta"
Hi guys,
I have provided the following environment variables in my `docker-compose.yml` file.
[code]
But my login page still does not show any login with Okta option. Did I miss any other configurations?

[2019-02-17 12:52] PostPollux commented on #21
No sorry, I have no idea. Never used gcp and kubernetes so far.

[2019-02-17 13:16] WoLfulus commented on #21
@pdsm

Are you mapping `api` ou `app` container? Just to make sure.

[2019-02-20 22:38] samvasko commented on #22
The bug is likely not CORS related at all. Its the server error that causes an empty response being returned. Without the CORS headers the client cannot read it.

[2019-02-22 14:18] argmhz opened #31 "docker-compose dev setup for extentions or Dockfile template"
Hi, I'm new to this :)

I'm struggling with a way to make new extentions to the app (api). But it is a little hard because i'm only using docker, to not make my laptop "dirty".
Please correct me if im wrong, but I can't seem to find an easy way but clone the Api repo and build up an Dockerfile of my own. ( maybe a guide on that? )
It could be nice to have a Dockerfile template or something like th

[2019-02-22 15:31] PostPollux commented on #25
On my side it's finally working with app version 7.0.18!
Thanks for fixing!

[2019-02-28 12:12] pdsm commented on #25
Its working!

Thanks!

[2019-02-28 14:53] matchish opened #32 "No collections menu item in fresh installed app (docker)"
I've never used directus before and maybe I'm doing something wrong but I don't see collection menu item
I've used https://github.com/directus/docker/blob/master/examples/single-api/docker-compose.yml
How to create new collection?

[2019-02-28 14:54] matchish commented on #32
![onpaste 20190228-164735](https://user-images.githubusercontent.com/818563/53575051-70bc9700-3b79-11e9-8b30-edcfe0818cfc.png)

[2019-02-28 22:28] benhaynes commented on #32
1. Admin Settings
2. Collections and Fields
3. Add New Collection
4. Then add some fields to that collection

Then it will appear in your nav bar!

[2019-02-28 22:28] #32 closed

[2019-02-28 22:28] benhaynes commented on #25
Awesome! I'll assume this one is closed then. If someone else is experiencing this issue let us know!

[2019-02-28 22:28] #25 closed

[2019-03-05 04:47] narkowicz commented on #11
We'd like to be able to use [_Multitenancy_](https://docs.directus.io/guides/projects.html#multitenancy) instead of multiple containers if possible.

This is partly motivated by putting a ceiling on the number of containers (i.e. 1 rather than _n_) as we add projects - which in our case is a premature optimisation.

Mainly though, we'd like to have a single public subdomain on port 80 for all API

[2019-03-26 08:40] inta opened #33 "Setup automated builds"
I'm starting to use/learn Directus and Docker for the project setup. I recognised the *.0.19 release is missing on Docker hub and yesterdays release as well. Do you build the Docker images manually?

However, it would be great if the images are created automatically. As you (obviously) have access to the Github repos it should be possible to setup Dockers automated builds. Please consider doing th

[2019-03-26 13:34] benhaynes commented on #33
I believe this is either automated, or about to be automated. Right, @WoLfulus ?

There might be an issue because we changed our version naming convention for the combined build yesterday.

[2019-03-26 13:56] WoLfulus commented on #33
We disabled the auto builds for the last few releases because we're refactoring the whole repository and how we build/manage the images. There were so many issues that we're changing the approach on how we deliver the builds.

I'm trying to get things working properly before hitting the `auto` button again, but we'll get the docker releases going again ASAP and hopefully with more image flavours (

[2019-03-27 13:00] #33 closed

[2019-03-28 06:17] mebenhoehta commented on #7
We would be very interested in this. Please let me know if this is being worked on and if not we might start work on.

[2019-03-29 00:22] benhaynes commented on #7
Thanks @mebenhoehta — any thoughts on this @WoLfulus ?

[2019-04-03 15:51] ramigblv opened #35 "dockerhub is not updated with latest versions"
Hey guys, I read somewhere that you stopped for the time being automatically updating docker containers. Do you have any ETA on when the automatic update of docker hub images will happen again?.

Because for now the containers are outdated.

[2019-04-03 21:04] benhaynes commented on #35
We're getting closer to a refactored Docker build flow. Any additional timeline insight @WoLfulus ?

[2019-04-05 16:30] eldarc opened #36 "S3 Support - Possible documentation addition"
By using just the official image it was not possible to use S3 successfully. To solve it I had to build a custom image based on this comment: https://github.com/directus/api/issues/718#issuecomment-457371997

I published it here: https://github.com/eldarc/directus-docker-s3

It would be nice to include instructions in the README on how to setup S3, if there are no plans to bundle the S3 dependency

[2019-04-18 08:01] mvhirsch commented on #36
@eldarc it's not in the readme, but in the official docs: https://docs.directus.io/advanced/api/configuration.html#storage

Does this help?

[2019-04-18 08:03] mvhirsch commented on #35
Any news? I'm missing `directus/api:2.0.20` and `directus/app:7.1.0`.

Would be great if this could be updated soon!

[2019-04-18 11:20] mimamuh commented on #36
@mvhirsch The issue is that `aws/aws-sdk-php` is not installed on the docker image by default so it won't work.

[2019-04-18 11:36] benhaynes commented on #36
S3 seems like it would be a good core storage adapter to have — @WoLfulus, do you think we could/should add this in?

[2019-04-18 11:46] mvhirsch commented on #36
If you choose to do so, please do not forget to update the documentation :-)
https://docs.directus.io/extensions/storage-adapters.html#using-aws-s3

[2019-04-18 16:37] benhaynes commented on #35
Hey @mvhirsch — @WoLfulus is super busy at the moment, but should have time to address these issues in a week or so. Real world constraints of the open-source world! :)

[2019-04-19 14:01] mimamuh opened #37 "S3 Support - add ACL option"
Hi,

right now the [`api.php`](https://github.com/directus/docker/blob/master/projects/api/api.php#L101) maps environment variables to the config but misses an option for `ACL` in case I wanna use the `aws` storage provider.

By the way:
To use `aws` as storage provider it still misses the `aws/aws-sdk-php` package preinstalled in the docker image, see here #36. But I created the image my own beca

[2019-04-19 14:09] mimamuh commented on #37
Or probably it would be better to have basic `config/api.php` configuration file customizeable through env-vars, like it is now for the most important stuff. But also support a `config/custom-api.php` to overwrite configs with a custom file. Otherwise each possible option needs a env-var which may get too complicated. Better would be when I would be able to mount my `custom-api.php` into the conta

[2019-04-24 19:31] kateerogers commented on #35
@benhaynes @WoLfulus Do you know of any way that we can update the API version (it looks like there is a docker environment variable in the docker containers) manually in the docker container before the newest docker container version gets released? I would like to pull the newest API code in a docker container whenever possible. Thanks!

[2019-04-26 08:34] mvhirsch opened #38 "Remove dev-packages from vendor/"
Hi,

a production environment won't need development packages, but they are installed on API (_/var/www/html/vendor/_).  Since dev-packages are only dead wood on production systems, they only add unnecessary filesize to docker images.

As far as I can see, this is done by the builder, but I don't know exactly how. I would like to help you guys with that, but there is no clear direction on how to b

[2019-04-26 13:15] WoLfulus commented on #38
Hi @mvhirsch

This is getting carried from `app` releases itself. This repository doesn't install dependencies, we just grab releases from GitHub to build the final images.

Can you confirm this @rijkvanzanten ?

[2019-04-26 13:17] mvhirsch commented on #23
I cannot reproduce this with API v2.0.18 and APP v7.0.18.

My browser is always reloading (`Cache-Control: public, must-revalidate, proxy-revalidate` and `If-Not-Modified`/`If-None-Match` headers) the _/config.js_.

There shouldn't be an issue any more. Can anyone still reproduce this?

[2019-04-26 13:18] rijkvanzanten commented on #38
I run `composer install -a` to create the package. I'll start adding the `--no-dev` flag too 👍

[2019-04-26 13:18] #38 closed

[2019-04-26 13:20] mvhirsch commented on #38
Thank you @WoLfulus and @rijkvanzanten !

One quick tip, making the production-system even faster is using an optimized autoloader.
Just append `--optimize-autoloader`. This will take additional time, sure, but it results in a much faster php application!

https://getcomposer.org/doc/03-cli.md#install-i

[2019-04-26 13:21] rijkvanzanten commented on #38
Thanks @mvhirsch!

That's what the `-a` flag does 😄

[2019-04-26 13:24] mvhirsch commented on #31
Hi @argmhz,

if you're already using a docker-compose.yaml, you could simple mount a volume (I'm using https://github.com/directus/docker/blob/master/examples/single-api/docker-compose.yml as origin):

[code]

This way your local folder named _costum_ will be mounted inside the Docker environment. You can then build your extensions/hooks/interfaces and so on.
Just make sure, to take a look into th

[2019-04-26 13:24] mvhirsch commented on #38
Ah, I just forgot about the "implicit" hint. Thank you! :-)

[2019-04-26 13:26] mvhirsch commented on #14
I cannot reproduce this issue in .18. Anyone can please confirm?

[2019-04-26 13:29] mvhirsch commented on #22
I cannot reproduce this issue with API 2.0.18 and APP 7.0.18.
Can you confirm this, please?

To avoid such riddles with docker, I would advise to pin your version and not using `:latest` since this might be cached (like other tags in docker, too). Maybe there was an issue with the building process and `:latest` was broken? Reading some comments on recent issues confirms a problem in building docke

[2019-04-26 13:51] mvhirsch commented on #37
@mimamuh you can! Just add a file to `/var/www/html/config/docker/api.php` and it will get loaded for you instead. Take a look here: https://github.com/directus/docker/blob/master/projects/api/api.php#L4-L7

I'll provide an PR for the options, since I need them too.

[2019-04-30 09:52] jwlogemann opened #40 "Improve DockerHub Documentation"
The dockerhub documentation for the project does not tell you the bare minimum you need to get the app up and running. Best case if you manage to guess something correctly is an app stuck at the login screen with an unknown username and password.
Please update the docs or remove the image from dockerhub.

[2019-04-30 13:40] benhaynes commented on #40
Things move a bit slower in the OSS world (something to do with having no funding). Our developers have full-time jobs outside of this project and sometimes things get busy at work.

@WoLfulus (our Docker Lead) is busy at the moment, but will hopefully have time soon to address this. He has been working on a Docker refactor, and once complete that will replace all of these Docker instances.

[2019-04-30 15:59] argmhz commented on #31
thanks :+1:

[2019-04-30 15:59] #31 closed

[2019-04-30 17:10] benhaynes commented on #31
@WoLfulus — should we add this to the Docker Docs? Seems helpful!

Thank you @mvhirsch!!!

[2019-04-30 17:18] argmhz commented on #31
Yes definitely :D

[2019-05-02 10:33] am-webdev commented on #19
Hi @WoLfulus

I'm running into the same issue but updating the API_ENDPOINT value results in

I published the port to 7000:7000 on the API container
Another error GET http://localhost:7000/server/ping net::ERR_CONNECTION_REFUSED

In my setup I've got an reverse proxy and each container has its own dns sub domain

api.mytld.com and dashboard.mytlt.com

but either the login fails or the the API is n

[2019-05-03 10:13] am-webdev commented on #22
Hi I'm running the :latest container and I'm affected by the CORS issues as well.

My setup is the following:

- reverse proxy
   - directus mysql container
   - api: hostname: api.example.com
      - links the db container as mysql host
   - app: hostname: directus.example.com
      - API_ENDPOINT: "API; https://api.example.com/_/"

Results in CORS browser error while accessing the login screen

[2019-05-03 14:30] tpinto7 opened #58 "Server Error with MySQL Instance"
Hey, I'm new to Directus and installed it using Docker (with Windows 10). I am receiving a Server Error "Something is wrong with this instance's server or database."
With inspect element, this is the exact error message received:
{"error":{"code":9,"message":"Failed generating the SQL query.","query":"SELECT user.* FROM user WHERE = '0' LIMIT 1"}}

It appears that there is something missing after

[2019-05-04 09:25] mvhirsch commented on #22
@am-webdev seems like your reverse-proxy is causing the issue. Using your docker-compose file, I'm not able to reproduce this issue. Can you please check your reverse-proxy configuration and/or retry without such?

[2019-05-04 09:26] mvhirsch commented on #22
Yes, just set the following option in your api environment:

    CORS_MAX_AGE: 500

[2019-05-06 05:48] am-webdev commented on #22
Hi @mvhirsch  this seams to work perfectly. Unfortunately I'm now running into this issue: https://github.com/directus/docker/issues/19

[2019-05-06 07:18] mvhirsch commented on #19
Hi @am-webdev

I don't think you're running in this particular issue from @bonaccorsop. Your error is `ERR_CONNECTION_REFUSED` (TCP) instead of `Method Not Allowed` (HTTP).

Here I spot a mistake, please refer to the docker documentation about mapping ports.
You probably wanted to map your local's host port 7000 to the container ones exposing at 80. Neither `directus/api` nor the `directus/app` ar

[2019-05-06 07:54] am-webdev commented on #19
Hi @mvhirsch

awesome :D that was my mistake. Thank you very much. As expected it was a layer 8 issue :D

Based on the reverse proxy setup, I've changed the published ports to
[code]

So the reverse proxy knows the internal port e.g. 32856 and redirects the ports correctly. So for any interested people here's my working compose file with Nginx as a reverse proxy and lets encrypt auto renewal and t

[2019-05-07 07:51] mvhirsch commented on #22
Seems like, there is no bug. @benhaynes can you please close this?

[2019-05-07 11:43] benhaynes commented on #22
Indeed!

[2019-05-07 11:43] #22 closed

[2019-05-07 15:33] jnsvd opened #41 "Mysql SSL support"
Due to no option for an SSL connection with the database, I'm getting the following:

[code]

As far as I know, I can't use Directus with my database. Can you please add a flag for using SSL?

[2019-05-07 16:12] WoLfulus commented on #41
We're in a WIP for refactoring the repository right now, but I'll keep an eye at this and hopefully we can ship next version with it.

I just have to confirm that API has support first

[2019-05-08 10:58] jnsvd opened #42 "HTTP 405 given when logging in"
I'm getting the following when logging in in the `directus/app` container (from the browser):

[code]

I tried various options for `API_ENDPOINT` variable, but it seems the `app` container itself is returning the 405 and no connection with the `api` container is yet initiated.

The following value is configured in `API_ENDPOINT`:
[code]

However, when logging in, a request is sent to a different e

[2019-05-09 05:57] am-webdev commented on #42
Hi @jnsvd  Could you provide the docker-compose file? I've had the same issue but it was an user related issue for me :D maybe I can help you out

[2019-05-10 16:32] eldarc commented on #35
I ended up forking this repo and pushing the latest versions to our docker hub:

https://github.com/ministryofprogramming/directus-docker
https://hub.docker.com/u/ministryofprogramming

There is also an API S3 support version which builds upon the latest API:
https://hub.docker.com/r/ministryofprogramming/directus-api-s3

[2019-05-10 16:53] WoLfulus commented on #35
Sorry the delay and missing updates guys. I'm working on it!

@eldarc solution can be a workaround for now

Some updates?

I've been changing some stuff inside the `api` project to make it easier to configure stuff and avoid maintaining custom code inside this repository (basically making api aware of environment variables by default).

I also changed how we'll build/deliver the containers - we'll

[2019-05-14 07:15] mvhirsch commented on #40
relates to #35

[2019-05-14 07:16] mvhirsch commented on #40
also relates to #16

[2019-05-20 03:18] shartley76 commented on #14
we have the same issue with v2.0.18 of the API running on Docker. Interestingly when running container locally and in our test environment, we get the correct max_upload_size displayed in the file upload dialogue (in our case 500Mb). However when deploying the same image to production, we get the 0 B issue.
The difference in test vs. prod is that we have the api and app on seperate EC2 instances i

[2019-05-31 16:39] GeospatialMax opened #44 "Saving item through API/app return CURL error 3: <url> malformed"
Hi,

I am trying to write data to an item in a collection and no matter what I try, I always get a HTTP 500 response back with the following message:
`cURL error 3: <url> malformed (see https://curl.haxx.se/libcurl/c/libcurl-errors.html)`

This happens through the App as well as directly through the API.

I did a bit of digging in the API code but couldn't really find where the issue is. I only fo

[2019-06-03 14:35] GeospatialMax commented on #44
@benhaynes , @WoLfulus :
I did some more digging, enabled the stacktrace to be returned in the error-handler and in the end it turned out to be an issue with a webhook function I defined in api.php. So it has nothing to do with the directus API / docker core code.

This issue can be closed therefore.

[2019-06-03 14:35] #44 closed

[2019-06-03 15:39] benhaynes commented on #44
Thank you for following up @GeospatialMax!

[2019-06-11 03:55] JoelDamata-pcc opened #45 "Server Error on fresh install in kubernetes"
Hi,

I'm trying to get directus stood up in AWS EKS. Thus far the deployment and login works as expected.

After logging in I get an error:

<img width="1336" alt="Screen Shot 2019-06-10 at 11 53 54 PM" src="https://user-images.githubusercontent.com/50667756/59242814-18b31900-8bdb-11e9-8c2c-bc7add89037b.png">

Logs of both app and api don't show any errors. Any ideas whats going on, or where I mig

[2019-06-11 04:14] jdamata commented on #45
I am using mysql 8, could this be the problem?

[2019-06-11 13:49] benhaynes commented on #45
Perhaps. @bjgajjar have you tested with MySQL 8?

Also, I wonder if this is specific to Docker, or an API/App issue.

[2019-06-11 16:26] JoelDamata-pcc commented on #45
Im experiencing the same problem with mysql 5.7

[2019-06-11 17:50] JoelDamata-pcc commented on #45
I was also able to run the docker-compose stack using this docker version as well as get directus stood up in minikube. This is more likely than not a problem with my deployment in EKS and can probably be closed.

[2019-06-12 14:24] benhaynes commented on #45
Sounds good! Let us know if anything comes up that might be an issue on our side! Or even things we can do to improve...

[2019-06-12 20:27] TargetTaiga commented on #42
I'm also getting 405 on login attempt

[code]

[2019-06-14 04:58] AjayRawat001 opened #46 "Re-setup directus at every restart of the machine issue"
I have followed this link to use Directus with docker-Hub
### https://hub.docker.com/r/getdirectus/directus

First time its work fine. But every restart of my machine it's not working
Error:
Admins-iMac:~ **Admin$ docker run getdirectus/directus**
Running directus!
Enter password: ERROR 2002 (HY000): Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2)
Warning: mysq

[2019-06-14 15:09] benhaynes commented on #46
I believe that is an outdated version of Directus — `getdirectus` was for v6 (and is no longer supported). All the newer Docker installs are in-work and should be updated soon by @WoLfulus

[2019-06-15 03:46] AjayRawat001 commented on #46
Okay Thanks

[2019-06-15 03:46] #46 closed

[2019-06-17 08:05] mvhirsch opened #47 "Docker revival"
Hello folks,

I really do love Directus :heart:
In our environment we're using Docker all the time, which I love too!

I really want to use the Directus Docker images in near future, but at the moment, there aren't any updates on it, though. Any news so far?

I saw a promising rework done by @WoLfulus in https://github.com/directus/docker/tree/refactor/full but there is no progress (as far as I ca

[2019-06-17 08:09] WoLfulus commented on #47
Hi! The missing piece is being worked on api#930 which is proper support for configs. Then we're all set to get it autobuilding again.

[2019-06-18 08:00] jishi commented on #42
Did anyone figure out what the reason for this is? I can't seem to find any logs that can tell me why this is happening. My compose file looks like this:

[code]

`wget http://api/_/` works from the app container and gives me `{"data":{"api":{"project_name":"Directus","project_logo":""}},"public":true}` as a response.

But the web UI keep sending requests to
`app_1    | 172.20.0.1 - - [18/Jun/2019

[2019-06-18 08:07] jishi commented on #42
Never mind, just realized that the browser needs to access the API directly, not the app container. This setup would work:

[code]

[2019-06-19 10:11] mfcanovas opened #48 "CORS problem when trying to download files from uploads folder using axios/ajax"
I'm using axios to download files (is useful for customizing previews, zip files using JSZip, etc).

Axios send a preflight request (OPTIONS method) before sending the GET request. I'm getting a 405 Method Not Allowed error from nginx as OPTIONS method is not allowed by default.

As a workaround, I added these lines to nginx default.conf file:

[code]

It returns a 204 response for OPTIONS request

[2019-06-23 15:18] mvhirsch commented on #47
Sorry, I'm currently sparely on computer so I wanted to take a look at your improvements at https://github.com/directus/api/pull/930 but you just deleted it 10h ago :grinning:

I think to follow up it is this one, correct? https://github.com/directus/api/pull/1048

[2019-06-23 15:20] WoLfulus commented on #47
Yes! I squashed the commits and reopened it! :)

[2019-07-01 11:36] lluishi93 opened #50 "Unable to switch between projects with only one API and one APP"
Hi @WoLfulus

I'm having troubles creating a directus setup like this, using your single-api example as a base:
- A single app container with these environment variables:
  - An API_ENDPONT = Dev; http://localhost:7000/_/
  - An API_ENDPOINT_PROD = Prod; http://localhost:7000/prod/
- A single api container
- A single mysql container

Before starting the whole thing, I make sure to create the prod

[2019-07-08 16:50] nachogarcia commented on #42
So I updated the docker images to the latest version in my own dockerhub as suggested in other thread, and with the example docker-compose I got this exact same error. Then it was impossible to make it work even with the latest directus images, until I tried to flush cache then it worked again.

I think it's safe to say there is some issue with the latest release (dockerized by me) and with the ca

[2019-07-08 16:55] benhaynes commented on #42
The new config (required by the Docker refactor) should be included in this week's release. Not sure which day we're releasing this week, but things should be officially up-and-running in a few days.

[2019-07-08 16:59] nachogarcia commented on #42
Those are great news @benhaynes ! Thanks to the whole team for the hard work :smiley:
We'll be using this a lot so I'll try to provide the best feedback I can.

[2019-07-09 06:36] mvhirsch commented on #47
As mentioned in https://github.com/directus/docker/issues/42#issuecomment-509306227 this should be solved this week :tada:

[2019-07-09 06:42] mvhirsch commented on #48
Hi @mfcanovas,

by default CORS should be enabled: https://github.com/directus/docker/blob/master/projects/api/api.php#L121

What's your configuration on this and what is `axios` doing (GET, POST)?

[2019-07-09 06:48] mvhirsch commented on #19
This issue is pretty old. Since the correct answer should be a correct configuration as described in https://github.com/directus/docker/issues/19#issuecomment-457547790, I think this can be closed. What do you think @WoLfulus?

[2019-07-10 22:27] rodrigosanabria17 opened #51 "API is not returning a https url when getting file data."
When getting file data from the item service, instead of returning the full url with https, it only returns it with http.
 I'm not sure if I have to add some environment variable in api service definiton or it's something else, does somebody have any idea of how to fix it?

[2019-07-11 09:41] hilkins opened #52 "Non-root docker images"
The current docker images require to be run as root, it would be nice to have "unprivileged" version of the images.

For example, in my company we're using kubernetes, but every image as to be run as non-root to add a layer of security so the current images are not working.

We're not using the APP so we haven't rewritten it but making a version using `nginxinc/nginx-unprivileged` instead of defau

[2019-07-11 10:46] WoLfulus commented on #52
This is on my track too.

Would just `www-data:www-data` work?

[2019-07-11 12:47] benhaynes commented on #51
Hey @WoLfulus — is this Docker specific, or could it be an API issue?

[2019-07-11 13:25] WoLfulus commented on #51
This can be both to be honest. If running behind a load balancer and it rewrites to http, webserver will detect as http, so we must have a config to always force https instead of auto detection in api core.

If this is the case I'd change this inside api not docker because any other setup that involves a reverse proxy will likely cause this

[2019-07-11 22:08] benhaynes commented on #51
Thoughts on this @directus/admin ?

[2019-07-11 22:09] benhaynes commented on #51
Thoughts on this @directus/api-team ?

[2019-07-12 14:32] rijkvanzanten commented on #51
I believe the config might allow for absolute URLs for the root path for files too, which negates this problem

[2019-07-15 13:45] vuhrmeister commented on #47
So can we expect new docker versions soon? I run into errors / bugs regularly with the old version. Bugs that are most likely all fixed during this long period. Would be super happy since we want to go to production very soon.

[2019-07-22 10:48] dario30186 commented on #35
Hi
any news about new docker images?
The last version for the app is 7.0.18 and it is missing a lot of bug fix.

Thank you

[2019-07-22 11:00] dario30186 commented on #47
I'm waiting for the docker images. Any news about the release date?
I saw that there is an unofficial docker image for directus updated to last version : https://hub.docker.com/r/ministryofprogramming/directus-app

but if we have to wait a few days, I prefer to use the official ones

[2019-07-22 13:52] benhaynes commented on #47
@WoLfulus — you can post your updated timeline  here so the community knows when to expect it.

[2019-07-22 13:54] benhaynes commented on #35
Hey @dario30186 — look for an update on timing here:

https://github.com/directus/docker/issues/47

[2019-07-22 20:02] eldarc commented on #35
@dario30186 You could use these Docker images: https://hub.docker.com/u/ministryofprogramming
However, we integrate hot-fixes here which are not necessarily part of the official release.

Or you could build and push to Dockerhub your own releases: https://github.com/ministryofprogramming/directus-docker

Just put your docker username and password into `build-builder.sh`, `build-app.sh` and `build-

[2019-07-30 06:32] mvhirsch commented on #29
I can't reproduce this on `directus/api:2.0.18`. @kurnifamili can you try with the (currently) latest docker image, please?

[2019-08-07 15:12] dario30186 commented on #47
Hi @WoLfulus , any news about the docker image update?

[2019-08-07 15:54] WoLfulus commented on #47
Yes! We're almost there. You can check the refactor branch if you want :)

[2019-08-09 01:40] vacri commented on #7
Hi folks - has there been any movement on this? I'm struggling with finding a working hack to push the logs into stdout for docker to pick up.

[2019-08-09 01:51] WoLfulus commented on #7
this should be fixed on the refactor. i'm planning on pushing new images this week

[2019-08-10 04:15] mrleblanc101 commented on #16
It's been 6 months, any news on when the docker documentation will be published ?

[2019-08-12 17:56] benhaynes commented on #16
We're just now wrapping up the new Docker today! We're also working on the Docs now...

[2019-08-12 22:25] WoLfulus commented on #47
Please check https://github.com/directus/docker/tree/develop
I'd love some feedback on the build process!

[2019-08-12 22:33] mrleblanc101 commented on #16
Documentation on how to docker-compose, volume management and maybe how to update Directus manually if the docked get out of sync again would be very nice for Docker newbie like me

[2019-08-13 07:28] mvhirsch commented on #47
Impressive @WoLfulus ! I really do like the process, I think it's good and will solve many use-cases :-)
I've tested your build steps, and do have some thoughts:

After reading the README it should be more clear, that most users will either use an "official image" (should be ranked on top for most common use cases) or build their own "base image". Describing how to build your own "core image" will

[2019-08-13 16:49] WoLfulus commented on #47
Hi! Thanks for the feedback!

I think I addressed most of what you said in the latest commit. Please take a look and let me know.

All images will be pushed to docker hub (dist, base and core).

Base images in the current setup shares the same versioning model as core images (they are built and distributed together), this makes patches to core images propagate to new base images. It's by design, b

[2019-08-15 14:33] mvhirsch commented on #47
Thank you very much! I just re-read the README (kudos for the new images :grinning: )

It does, of course this will help keep own changed versions of Directus small and clean.

I will close this issue, since you merged your refactoring-branch and build new Docker images (which I will check on next week!). :tada:

Thank you for your hard work!

[2019-08-15 14:33] #47 closed

[2019-08-15 14:56] WoLfulus commented on #47
Glad you liked it. :)

Base test images are published already. We'll start publishing dist images
soon.

Em qui, 15 de ago de 2019 11:33, Michael Hirschler <notifications@github.com>
escreveu:

[2019-08-15 16:43] srhise commented on #16
Thanks for working on the docs. I am trying very hard to understand how to run these docker images so I can work locally then deploy to AWS but I've got stuck several times on setup and I'm not quite sure what I should be doing to get Directus 7 working on Docker.

[2019-08-15 17:36] WoLfulus commented on #16
Seems like it's not that clear yet from the readme just yet, but these images are not mean't to be run, they should be extended. None of the images contains directus code just yet.

I'll will provide `dist` images soon, and you'll be able to build custom ones using base images.

[2019-08-15 19:12] srhise commented on #16
Ok, thanks that makes sense. The old images seemed like they were ready to run like you said. I'd be glad to help write some instructions once the images are up to help - if I can figure it out. This project is awesome! We run everything on AWS ECS so docker is a must with the way we do devops.

[2019-08-15 19:46] WoLfulus commented on #16
I'm focused on ops myself, so I'm trying to get things right to make ops easy. :)

[2019-08-19 14:33] johannesfritsch opened #54 "Where are the images?"
The last image I could find is for 2.0.18/7.0.18. Is the build broken?

[2019-08-19 14:35] benhaynes commented on #54
@WoLfulus is working on this now and should have updated versions in the next day or so.

[2019-08-19 14:36] johannesfritsch commented on #54
Hey, thanks for the fast reply!

[2019-08-19 19:57] webdeb opened #55 "directus dev-environment with docker"
Hey @WoLfulus just wanted to ask quickly how would you setup an dev-environment with docker for directus itself? I want to play around with the pgsql branch, but since I am not a php developer (no apache, no php, no mysql locally), I would like to containerise the work on it.

[2019-08-20 00:57] WoLfulus commented on #55
Right now you'd setup the containers yourself (I mean writing Dockerfiles and docker-compose.yml). We're still in the process of releasing the official images, which will ease this process quite a bit. I can't give much details right now because I'm changing a lot of stuff yet.

But in resume, we'll probably deliver a Dockerfile with a docker-compose.yml on api and app projects when everything is

[2019-08-20 01:01] webdeb commented on #55
This sounds good. Thank you!

[2019-08-20 01:01] #55 closed

[2019-08-24 10:01] hakkurishian commented on #54
What is the best version to update to as of now?

My current docker-compose looks like this:

` #
  # Directus
  #
  api:
    image: directus/api:latest
    volumes:
      - "./cms/extensions/custom:/var/www/html/public/extensions/custom"
    environment:
      DATABASE_HOST: db
      DATABASE_NAME: "directus"
      DATABASE_USERNAME: "directus"
      DATABASE_PASSWORD: "directus"
      ADMIN_EMAI

[2019-08-24 13:35] johannesfritsch commented on #54
I think they are working on getting the build process up and running again. Right now the latest versions are 2.0.18/7.0.18. These images are half a year old. We are also waiting for newer images as we have strange behavior with datetimes where localtime is saved to the DB instead of an UTC.

[2019-08-28 17:43] johannesfritsch commented on #54
Any news, @WoLfulus?

[2019-08-28 18:18] aiomaster commented on #54
So can I just use my current docker-compose.yml and do `docker-compose pull` or to I have to take more steps to upgrade to the new images?

[2019-09-04 20:30] #7 closed

[2019-09-05 19:52] WoLfulus commented on #54
`directus/api:v2.5.0-apache` and `directus/app:v7.10.0-node` has been pushed to docker hub for those willing to test it.

it still needs to be documented, since it changed a little from the old version, but there's a simple example on `develop` branch

https://github.com/directus/docker/blob/develop/examples/simple.yaml

note that there's still a workflow problem, and right now, the database needs

[2019-09-05 19:52] #54 closed

[2019-09-05 19:53] WoLfulus commented on #35
see https://github.com/directus/docker/issues/54#issuecomment-528552503

[2019-09-05 19:53] #35 closed

[2019-09-05 19:55] WoLfulus commented on #3
auto installation is too risky and we'll avoid it. we'd display a setup dialog specific to docker environment for database setup

[2019-09-05 19:55] #3 closed

[2019-09-05 20:00] WoLfulus commented on #11
@narkowicz you'd still be able to mount your own api.php files to config folder (as a volume), in the current docker implementation you just need to unset (or set to 0) the `DIRECTUS_USE_ENV` environment variable in the container, and it will load files from disk.

[2019-09-05 20:00] #11 closed

[2019-09-05 20:06] WoLfulus commented on #50
hi, sorry the delay!

since we do not have 1st class support for multitenancy in docker (which is what you're requesting), to accomplish this using containers, you'd need to have two of them running + a load balancer in order to do that

for example:

containers
- app
- api1
- api2
- lb

lb routes
- api.domain.tld/_/ -> api1
- api.domain.tld/prod/ -> api2
- admin.domain.tld/ -> app

[2019-09-05 20:06] #50 closed

[2019-09-09 13:12] puco opened #56 "InvalidProjectException raised when `DIRECTUS_USE_ENV=1`"
# Bug Report

## Steps to Reproduce

1. Run API with `DIRECTUS_USE_ENV=1` and other env. variables as required for Docker
2. Do any operation through APP (e.g. create collection)

## Expected Behavior
Collection gets created without issues.

## Actual Behavior
Collection gets created but an error is raised (possibly when adding this to audit log)

## Other Context & Screenshots

Exception:
[code]

[2019-09-09 13:48] freder opened #57 "User (with custom role) can't edit own profile"
# Bug Report

## Steps to Reproduce

- create new role
- create new user with that role
- log in as that user
- try to edit user profile
- produces an error

## Expected Behavior
- should work

## Actual Behavior
![Screenshot 2019-05-31 at 11 24 07](https://user-images.githubusercontent.com/724844/58699266-5e7f0e80-839d-11e9-8791-cfc0a08e6cd7.png)

## Other Context & Screenshots
![Screenshot 2019-

[2019-09-10 15:31] dario30186 commented on #56
I have the same issue, I just upgrade the docker image and updated my docker-compose file like in the simple https://github.com/directus/docker/blob/develop/examples/simple.yaml

Then when I try to upload a file or any other collections, I have the error:
"Current configuration context only supports default project name"

[2019-09-11 10:18] everyx commented on #3
@WoLfulus can you give some more details about use this setup dialog? so many thanks.

[2019-09-11 14:58] everyx commented on #3
Great, thanks and happy to get that, look forward this feature pop up. :)

[2019-09-11 17:58] PostPollux opened #59 "can't get the new docker images"
Hi,
I just tried the new docker images and it seems I can't get them to work. I first tried it with my own docker-compose.yml but as I always got "Unknown error. Try again later." error message on the bottom of the loginpanel I decided to try it with the "simple.yaml" provided in the examples. But unfortunately it is exactly the same.

The logs from docker-compose are the following:

api_1       |

[2019-09-11 18:03] WoLfulus commented on #59
you should setup the database manually. we won't be auto installing the database since its too risky to assume it should.

we're figuring out a way to display a setup dialog on app though

[2019-09-11 18:15] PostPollux commented on #59
Wow that was fast, thanks!
Sorry for the noobish question, but how do I setup the database manually? And where do I get the schema.sql? Do you have any tutorial on that?

[2019-09-11 18:16] WoLfulus commented on #59
schema.sql can be found on api repository under src folder. you should connect directly to the database (using mysql workbench or something) and run the script on the database.

[2019-09-11 19:32] PostPollux commented on #59
Ok, thanks for the help. "simple.jaml" is working now. I can login.

But unfortunately I constantly get "Trouble processing request. Try again after refreshing the page." when I add a collection or a field or almost anything else. After refresh the things are there...
I guess this version is still buggy and not really ready for production.
So I guess I have to stay with the previous version.

Mayb

[2019-09-11 19:46] WoLfulus commented on #59
I'm not that familiar with api code to be honest, try joining our slack and asking on #support channel. There are more people that can help there :)

I'm closing this one ok?

[2019-09-11 19:46] #59 closed

[2019-09-12 04:09] glenselle commented on #59
Could I submit a PR to the README of this repo that would include a small section showing how to run the compose file and the `schema.sql` file mentioned here? I feel like this is an important detail that's not currently documented which would make it much easier for people to get started running directus locally. Something like the following:

## Getting Started
To get started with directus via d

[2019-09-12 04:24] glenselle commented on #59
Just noticed the #docker channel in Slack had another option for obtaining and running the `schema.sql` file which also works, though it does include the password in the command:

[code]
taken from: https://rangerstudio.slack.com/archives/C0GQ5406T/p1568117967077200

[2019-09-12 04:27] glenselle commented on #59
I'm willing to submit a PR to add a "Getting Started" section with either of these two methods documented. Would one of these options be preferable over the other?

[2019-09-12 04:38] WoLfulus commented on #59
We'd love that, but I'm planning on keeping the readme clean and just pointing to an external (proper) documentation page for docker.

Also, this doesn't cover everything though (for example we had some cases in which schema wasn't reliably updated from time to time), and I prefer running the migrations instead of importing a dump.

In resume, we're still trying to figure out a proper way to setup

[2019-09-12 04:58] WoLfulus commented on #59
As an update, I submitted a PR to api and I'm working on an alternative way to do it right now in which won't be risky, will support current workflows (composer, kubernetes, helm), and allows us to get the database up in a more convenient way :)

[2019-09-16 06:45] EsajeeSolutions opened #61 "examples simple issue"
i have followed the guide as in examples/simple one, but installer is giving error

docker-compose run installer install --email your@email.com --password somepass

![image](https://user-images.githubusercontent.com/6302184/64938401-31d10300-d877-11e9-95ee-76434521f5eb.png)

and on frontend app is giving error, and on which it says no database table for directus settings

i have seen that the late

[2019-09-16 15:15] WoLfulus commented on #61
It's not published yet. The latest version published uses base 0.0.14, I'm waiting for the next release to happen.

[2019-09-16 15:15] #61 closed

[2019-09-24 03:14] akadoya opened #62 "docker hub doesn't have the latest image"
Hi,
I am going through the sample and found that the latest changes are not reflecting to the images on Docker Hub.
https://hub.docker.com/r/directus/api/tags

latest master branch has this sample and steps
https://github.com/directus/docker/tree/master/examples/simple
but this is depending on the entrypoint change you made a few days ago and it is not in the latest image in DockerHub, apparently.

[2019-09-24 14:52] TonyEight commented on #62
Agree with the analysis. Docker Hub images seem to be outdated.

[2019-09-24 16:00] WoLfulus commented on #62
This was fixed some time ago, but since we haven't had a release until today, the images weren't updated (mentioned in #61)

We're already in the process of building and publishing the images for the latest version

[2019-09-24 16:09] #62 closed

[2019-09-25 12:05] a2dx opened #63 "Directus database installation"
Hello,

i am trying to install directus with the given example for docker.
https://github.com/directus/docker/blob/master/examples/simple/docker-compose.yaml

At first i execute:
docker-compose up -d

and then for the database installation i execute:
docker-compose run installer install --email your@email.com --password somepass

After the following message appears:
-------------------------------

[2019-09-25 15:58] LukasNavickas opened #64 "DIRECTUS_AUTH_SECRETKEY is required"
I'm trying to launch directus API on docker container, but I'm getting the following error after installing the newest API version 2.6.0:
![image](https://user-images.githubusercontent.com/13028072/65617978-db25a080-dfbd-11e9-8b29-33f92358e7e0.png)
If I provide a random string as DIRECTUS_AUTH_SECRETKEY, I'm getting another issue:
![image](https://user-images.githubusercontent.com/13028072/6561809

[2019-09-25 19:30] WoLfulus commented on #64
what is the issue in the second case? seems normal to me

[2019-09-25 19:32] WoLfulus commented on #63
I'll try to reproduce this. Please confirm what images you are using

[2019-09-25 19:54] akadoya commented on #63
I have the same issue with the latest image.
[code]

When running the install command, the installer gets stuck somewhere and unless I send Ctrl+C signal once, it does not exit.

[2019-09-26 05:50] imaneRachdi commented on #64
![image](https://user-images.githubusercontent.com/19638944/65661472-0944c800-e032-11e9-843f-d8f22b5b2359.png)

in the second case, failed to connect to the database . We have tried  also  image v2.5.0, but we got the same error .

[2019-09-26 16:50] WoLfulus commented on #64
This doesn't seem like a directus problem but a setup one.

Please review:
- database-related environment variables
- links between the containers
- network interfaces inside the compose file
- if api container can ping database container

If it persists, please share the docker-compose file and confirm docker version and docker-compose version used.

[2019-09-26 17:03] WoLfulus commented on #58
Can't reproduce this one. Doesn't seem to be related to docker. @directus/team what to do with this one?

[2019-09-26 17:06] WoLfulus commented on #57
@freder would you mind trying with the latest images we released?

[2019-09-26 17:09] WoLfulus commented on #51
@rodrigosanabria17 did you solve this? I ran into the same problem and I fixed it by forcing the https forward headers into nginx load balancer. So it's not related to out setup, but the how we configure the load balancers.

@rijkvanzanten I believe it would be nice to have a way to overwrite the auto detection of http/https and specify a base url for some specific cases. I spent a lot of time try

[2019-09-26 17:09] #51 closed

[2019-09-26 17:11] WoLfulus commented on #43
We are bundling the sdk by default in docker images now. I'm closing this because it's already stale and should be fixed already. Let me know if it persists

[2019-09-26 17:11] #43 closed

[2019-09-26 17:13] WoLfulus commented on #2
To be reviewed in the future.

[2019-09-26 17:13] #2 closed

[2019-09-26 17:13] WoLfulus commented on #1
To be reviewed in the future as we don't have those feature in place right now.

[2019-09-26 17:13] #1 closed

[2019-09-26 17:15] WoLfulus commented on #14
Please let me know if this still persists on latest images we published. I'm closing this for now.

[2019-09-26 17:15] #14 closed

[2019-09-26 17:15] WoLfulus commented on #12
Please let me know if this still persists on latest images we published. I'm closing this for now.

[2019-09-26 17:15] #12 closed

[2019-09-26 17:17] WoLfulus commented on #29
I'm closing this as it seems stale. Let me know if this still persists in the latest images we published. Refer to README for more information as we changed a lot of stuff

[2019-09-26 17:17] #29 closed

[2019-09-26 17:19] WoLfulus commented on #48
@mfcanovas did you make it work? I'm closing this for now as it seems stale. Let me know if it still persists on the latests images we published.

[2019-09-26 17:19] #48 closed

[2019-09-26 17:21] WoLfulus commented on #26
@samvasko did you solve this on your end? We'll not be bundling sendmail by default on our docker images, but you can easily extend our images and add sendmail to a custom image if it's a requirement.

[2019-09-26 17:21] #26 closed

[2019-09-27 13:06] beac0n commented on #14
We migrated away from directus. Not particularly because of this issue, but because of the software quality in general. There were just too many issues we had to deal with.

[2019-09-27 16:18] benhaynes commented on #58
I'll close this since we can't reproduce. @tpinto7 — please upgrade to the latest version and let us know if the problem persists.

[2019-09-27 16:18] #58 closed

[2019-09-27 17:44] Ron-Kuper-Bose opened #66 "Found + fixed issue with installer script"
Hello,

I've been struggling with getting the installer script to run - it was hanging and/or creating the wrong password.

It seems `api-entrypoint` uses the following code to generate a random password if none was supplied:
`cat /dev/random | tr -dc 'a-zA-Z0-9' | fold -w 12 | head -n 1`

On my EC2 instance this would hang (/dev/random would hang). I replaced it with the following, and solved my

[2019-09-27 18:34] WoLfulus commented on #66
I did merge a PR fixing that #65

Should be up in the next release :)

[2019-09-30 11:23] TonyEight commented on #66
Waiting for the release, you can still set up your own `api-entrypoint` file by copying the one in this repo and replacing line 13 according to your needs. Mine just looks like this:

`install_password=$(argument password "${DIRECTUS_INSTALL_PASSWORD:-$(cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 12 | head -n 1)}")`

Make the file executable : `chmod +x`

And link it in your `docker-compose.ym

[2019-09-30 12:16] rdsubhas commented on #66
There is an easier way:

[code]

symlink urandom => random. This is safe because it's just the run-once installer image.

[2019-09-30 19:47] WoLfulus commented on #66
@rdsubhas cool workaround!

[2019-10-02 14:50] filisko opened #67 "docker-compose doesn't work"
Hi, I tried executing docker-compose but it got stuck after the first line and then I pressed CTRL+C to exit and then it like tried to continue or something, and then stops of course but when I try to login it doesnt work.

[code]

[2019-10-02 15:17] WoLfulus commented on #67
duplicated #66 #63

[2019-10-02 15:17] #67 closed

[2019-10-02 15:24] WoLfulus commented on #66
I'm closing this one and keeping #63

[2019-10-02 15:24] #66 closed

[2019-10-02 15:25] WoLfulus commented on #64
updates on this one?

[2019-10-02 18:51] benhaynes commented on #64
@LukasNavickas @imaneRachdi — let us know if you're able to resolve this problem given the new information. Thanks!

[2019-10-03 13:20] imaneRachdi commented on #64
Hey, sorry for the delated answer .

Unfortanutely, we couldn't resolve the problem, so we had to install directus locally with phpmyadmin .

docker version : Docker version 19.03.1, build 74b1e89
docker-compose version : docker-compose version 1.24.1, build 4667896b
here is the docker-compose we are using :

version: "3"

services:

  database:
    image: mysql:5.7
    environment:
      MYSQL_DA

[2019-10-03 15:55] WoLfulus commented on #64
@imaneRachdi hi!

Seems like networks and/or links are missing on your compose file, that is why your containers are not seeing each other (db connection error).

We have some examples on this repository under `examples` folder, it should give you an idea of a full setup.

As a reference: https://docs.docker.com/compose/compose-file/#links

I'm closing this one. Let me know if you can get it worki

[2019-10-03 15:55] #64 closed

[2019-10-04 17:48] WoLfulus commented on #64
See examples for proper setup. `DIRECTUS_AUTH_SECRETKEY` can be anything, it just needs to be set in order to keep your installation secure.

[2019-10-04 20:27] BillMeyerRSA commented on #66
In which file must this update be?
I'm not a docker expert so I might have applied to incorrect file. I'm getting this error:

[code]

[2019-10-06 19:31] rdsubhas commented on #66
Hi @BillMeyerRSA, it's been fixed in https://github.com/directus/docker/pull/65. In case you still need the temporary workaround, please add the `volumes:` part under this section: https://github.com/directus/docker/blob/4df3061714b5a6bad600734bd5e68058c5bdeb4e/examples/simple/docker-compose.yaml#L21

[2019-10-15 22:56] zfalen opened #70 "Running DB Install as Part of CI // RSA publickey Error When Building New Images"
Hello! This is a two-part issue, though solving either will likely solve the other.

I am attempting to get the dist versions of Directus Docker images working with a Jenkins/Rancher CI pipeline. As currently configured, it's a pretty big pain to shell into the host each time to run the `docker-compose` install script every time we spin up a new app that will use Directus as a CMS layer.

**So, Is

[2019-10-16 16:00] zfalen commented on #70
To be clear, if I can get unblocked on the build issue I can play with the API install scripts and find /contribute a workable solution for other people who are interested in a solution for the first issue 😁Looks like most of it is already done anyway. I like the ENV variable approach that can live in `docker-compose.yml`.

But maybe it already exists and I am just missing something.

[2019-10-16 16:22] WoLfulus commented on #70
I've decided not to implement auto installation feature and use user-triggered installation instead because it's too risky to assume and detect scenarios where the installation needs to occur. It is quite common to have multiple concurrent containers (which they all might want install themselves) and having to mount a volume only for a `.initialized` file in your case. We'd like to keep containers

[2019-10-16 17:05] zfalen commented on #70
Interesting. I agree that it's tough to tell when the install needs to occur, especially without a `volume` solution of some kind - although we'll probably go that route in the short / medium term to persist DB data. I like the S3 route.

Still, seems like something that is _relatively_ easy to expose to users with minimal changes to the way things are currently wired, assuming the user is aware o

[2019-10-16 17:20] zfalen commented on #70
**_TLDR:_ Disabling a dumb corporate firewall fixed the RSA errors.**

[2019-10-16 18:30] zfalen commented on #70
@WoLfulus heads up that some of the `-d` checks for existing directories in the build script should have quotes around them to deal with weird people like me who have spaces in some directory names 😁

E.G. line 212
`if ! [ -d "$root/images/base/${project}/" ]; then`
instead of
`if ! [ -d $root/images/base/${project}/ ]; then`

[2019-10-21 15:37] zfalen commented on #70
@WoLfulus I have it working locally and will edit this comment as soon as we get the fork, etc set up correctly.

[2019-10-21 17:02] zfalen commented on #70
@WoLfulus side question - is there a `docker-compose` example that shows how to set up a single App instance to manage multiple API instances?

In the example I pulled from this repo _(`simple`, I think)_ the App is set up as follows:
[code]

Can I pass, say, an array to these options and have it set up the relevant config or will I need to shell in and update the config as described here:
https:/

[2019-10-21 18:02] rijkvanzanten opened #71 "Increase memory size of PHP in base image"
On an empty installation, certain endpoints don't work, like `/interfaces`

`Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 20480 bytes) in /var/www/vendor/slim/slim/Slim/Http/Headers.php on line 122`

[2019-10-22 18:39] unixninja92 commented on #52
The default port also has to be changed to a non-privileged port for both the api and app images. There is already an env for the app image(DIRECTUS_SERVER_PORT), but it's currently hardcoded for the api image.

[2019-10-22 18:46] edenprojectde commented on #63
Would love to get this working as i am not that knowledgable of docker, the examples would be really nice to use to work on client pages :')

[2019-10-22 22:12] WoLfulus commented on #63
@edenprojectde is it still giving problems? the examples already covers some simple cases (that can be used to work locally)

also the problem in question should be already fixed in the latest images

[2019-10-22 22:21] edenprojectde commented on #63
I pulled it today, and have the same Problem as described,
running the examples and then trying to set up the account gives me this result on the account creation command:
![Screenshot_20191023_002056](https://user-images.githubusercontent.com/6115966/67339191-fe932b00-f52a-11e9-83c6-6059123ea344.png)
And i cant log in in the app.

[2019-10-25 15:37] mikylebaksh opened #73 "When DIRECTUS_USE_ENV=0, Container Should Not Require DIRECTUS_AUTH_* Variables"
If I choose to configure Directus by using the `api.php` configuration file, I can set an environment variable in my docker-compose as follows: `DIRECTUS_USE_ENV=0`. However, the docker/api container requires variables `DIRECTUS_AUTH_PUBLICKEY` and `DIRECTUS_AUTH_SECRETKEY` to be set even though these configuration options will come from `api.php`.

If `DIRECTUS_USE_ENV=0`, then the container shou

[2019-10-26 07:09] akadoya commented on #63
doesn't reproduce with the latest image for me.
docker-compose pull
docker-compose up -d --force-recreate --build
will force to pull the latest image.

you can also verify that you have the latest image by running docker pull directus/api:latest and comparing the digest for the image you have for directus/api:v2-apache

[2019-10-26 11:35] edenprojectde commented on #63
That didnt do the trick for me,
i did
[code]

Everything went fine. But trying the account creation did the same thing again. It stuck at `Starting simple_mysql_1 ... done` and then i need to CTRL+C so it continues (Which probably means he is failing installing the database correctly?).

![Screenshot_20191026_133456](https://user-images.githubusercontent.com/6115966/67618895-6b414a80-f7f5-11e9-89d

[2019-10-26 11:38] edenprojectde commented on #63
[code]

[2019-10-26 12:14] hedwiggggg commented on #63
I got the same problem as edenprojectde.

[2019-10-28 23:35] WoLfulus commented on #73
Fixed! Thanks

[2019-10-28 23:35] #73 closed

[2019-10-28 23:35] WoLfulus commented on #71
Fixed!

[2019-10-28 23:35] #71 closed

[2019-10-28 23:36] WoLfulus commented on #70
Sorry the delay! But yeah, that's how you do it!

[2019-10-29 00:20] zfalen commented on #70
No worries. I am continuing to tweak things as we go along. Circle back whenever you have the time and I can run you over our solution 😄

[2019-10-29 22:48] zfalen opened #75 "API Works, But Logging Into App Creates a "Server Error""
Submitting this as a separate issue from the auto-install / CI issue posted earlier, as I think they are separate. Feel free to have me merge them or to move this one to the `directus/app` repo if it makes more sense there.

I have the Directus API stood up and alive, deployed to cloud host via our CI and Rancher. I _did_ use our custom auto-install logic for this, but it appears to have worked ou

[2019-10-29 23:47] zfalen commented on #75
@WoLfulus **Reverting to an image built off of the latest release _(`v2.6.0` or the `master` branch) fixes the problem.**_ I am able to log in and use all functionality of the App.

So **this appears to be an issue created by changes to the `directus/api` repo on `develop` branch** since commit #1305 / hash `fcc9e7a818f7ae7ac24a6e2f93d7350609d35e00` / Release `v2.6.0`. Figured you should know 😸

F

[2019-10-30 00:48] benhaynes commented on #75
`develop` is an unstable branch, so that makes sense. We're in the middle of working on a completely different Auth flow, so there are a lot of changes on there that would cause issues.

[2019-10-30 19:41] WoLfulus opened #76 "Seed uploads folder when mounting to host"
Entrypoint should check if uploads folder is empty and do the proper seed of the directory (.htaccess and stuff) in case it is.

[2019-10-31 17:00] zfalen commented on #75
**Update:** until the next release, forking `master` and applying this change to it _([34f0c3de11dc6130f83702a179a1fc297e6cd4e2](https://github.com/directus/api/pull/1347/commits/34f0c3de11dc6130f83702a179a1fc297e6cd4e2))_ and drafting a new release to pull from with the builder script is a workable fix for both the "server error" login issue and the issue with ENVARs when deploying via CI / Ranch

[2019-10-31 22:20] zfalen commented on #76
I noticed this today during setup _(and saw a conversation about it in the slack support channel)_ can confirm that as long as that folder is volumed, even if I manually seed it with the right files from https://github.com/directus/api/tree/develop/public/uploads and `chmod -R 755` the whole public directory, I get permissions errors when uploading files from the GUI / App

[2019-11-01 02:12] WoLfulus commented on #76
I'll take a look as soon as possible. :)

Em qui, 31 de out de 2019 19:20, zfalen <notifications@github.com> escreveu:

[2019-11-05 19:17] nicam commented on #7
Thanks :)

If someone else is looking into how to configure this:

`    'settings' => [
        'logger' => [
            'path' => 'php://stdout',
        ],
    ],`

[2019-11-05 23:23] glappsi opened #77 "Can't set api url in app container anymore"
I am using the `directus/app:latest`. Until a few weeks ago I was able to set the api url by using the following env variable: `API_ENDPOINT: "API; <URL>/_/"`. This does not work anymore, since  the `config.js` requests fails. I have to set the url in the ui for each login.

I tested it with `directus/app:7.0.18`, this works.

Is it a bug or did the environment variable name change?

[2019-11-07 22:14] zfalen commented on #70
@WoLfulus - little update here. I manage to get things stable by tweaking the `api-entrypoint` to do this:

[code]

So, now, if the API container nukes itself and it will just recreate the volumed file. But we probably don't even need the volume this way. Technically it will prevent the install script from running at all with the volumed file... But, as it is if the install script detects the DB i

[2019-11-08 16:39] zfalen commented on #70
Whoops. The only _other_ thing I did was modify the `Dockerfile` for the API base image to also install mysql tools for the DB ping command:
[code]

[2019-11-08 22:13] zfalen commented on #70
I can confirm that removing all references to the volumed `.dbInitialized` file works just fine.

[2019-11-13 14:41] enzolupia commented on #11
Hi,
I'm facing the same issue, did you find any solution to the problem?
Currently I have multiple containers each hosting a specific project, for example /api/project1 get redirected to container1, /api/project2 gets redirected to container2, but I don't understand where all the requests to non-specific api path like /api/interfaces or /api/pages should be handled.

Any advice ?

[2019-11-14 16:54] makuro opened #78 "Add Custom Auth failing"
# Bug Report
The custom oauth providers are not loaded after added to a custom dockerfile

## Steps to Reproduce

1. create a custom dockerfile like and add a custom oauth provider to it. The Folder "Files/Keycloak" is containing the auth.php, the icon.svg and the Provider.php needed.

FROM directus/directus:7.0.18

RUN mkdir -p /var/www/html/extensions/custom/auth/Keycloak
COPY Files/Keycloak/ /v

[2019-11-15 11:20] dvdbot opened #79 "Uncaught Error: Only variables can be passed by reference in /var/www/src/core/Directus/Config/Context.php:39"
I'm trying to upgrade my old Directus Images (from before the Docker Revamp) to the latest versions and I'm getting a strange error:

[code]

APP: 7.6.2 (I upgraded this one first and it worked with the old API, so I think this is not the issue)
API: 2.2.2

Weird thing is, it's returned as a 200 status code

[2019-11-19 15:27] makuro commented on #78
@WoLfulus, @benhaynes  Hi I did some digging around and get it working on my side, here are my findings:

so I updated my "custom" docker file to the following. I used the v2.6.0-apache as well as the latest and both got the same errors.

`
FROM directus/api:latest

COPY Files/Context.php /var/www/src/core/Directus/Config/Context.php
COPY Files/api.php /var/www/config/api.php
COPY Files/Keycloak/

[2019-11-25 13:10] inta opened #80 "imagick not available on api image"
Hey people, it took me quite some time to realize that imagick is missing inside the official docker images.

I think it would be nice to include everything required for the full Directus experience. What do you think about it? Should not be that much work to do, but would obviously increase the image size.

[2019-11-25 14:27] benhaynes commented on #80
Absolutely. It's easy to include that, and makes the experience better. @WoLfulus 🔔

[2019-11-28 12:59] ThaDaVos commented on #77
Same here - any solution? We've got three instances of the API (2 with the same versions and 1 a bit older) and we would like to manage them all from the same Client instance

[2019-11-29 14:39] inta commented on #80
Ok, I have created a pull request (#81) adding imagick to the core apache image. I hope that is correct, the image build finishes without errors, but I did not figure out how to build the images on top of the base ones (those available on docker hub as "directus/api").

[2019-12-01 12:10] inta opened #82 "Info on docker hub is not that helpful"
The info on docker hub is not very helpful. For the [API](https://hub.docker.com/r/directus/api) and [App](https://hub.docker.com/r/directus/app) it seems to be just the README.md of the github repo and [Base](https://hub.docker.com/r/directus/base), [Core](https://hub.docker.com/r/directus/core) and [Suite](https://hub.docker.com/r/directus/directus) info is (almost) empty.

I know the images are

[2019-12-02 14:48] nachogarcia commented on #77
We're using the following configmap and works flawlessly
[code]

Check the variable names.

[2019-12-04 09:56] #80 closed

[2019-12-06 08:25] mvhirsch commented on #79
Hey @ThaDaVos ,

Since there are no Docker images using your specified Version APP v7.6.2 and API v2.2.2, I cannot reproduce your problem. Neither can I understand what might be the problem.

Can you please provide the full image name of your docker images you're using?
Also please provide your configuration, so I or others might be able to understand your problem.

[2019-12-06 08:31] mvhirsch commented on #77
I ran into the same issue after upgraded. The configuration has to be changed between `directus/app:7.0.18` to `directus/app:7.10.0` (or higher), as @nachogarcia's example shows.

Please upgrade your configuration as seen in the example: https://github.com/directus/docker/blob/4df3061714b5a6bad600734bd5e68058c5bdeb4e/examples/simple/docker-compose.yaml#L48-L55

[2019-12-06 08:37] mvhirsch opened #83 "Automate Docker images"
Hey there, since there are so many new releases (formerly v8) coming, I think it's time to automate the docker images build process using Continous Delivery.

This will help automatically building new images after release either APP or API, so anyone can start using the latest Directus images right away.

What do you need for this? Can I help you?
Building own Directus images is still a challenge,

[2019-12-06 09:30] remoblaser commented on #83
I'd be open to help as well :)

[2019-12-06 10:29] WoLfulus commented on #83
It's done already, I should just enable it inside travis pipeline - I'll be testing this later today.

Also, the team decided to get rid of `app` and `api` images, so we'll stick to just `directus/directus` one now.

[2019-12-06 13:04] ThaDaVos commented on #79
It's from pre-overhaul of the docker images - it's probably fixed by now so this issue can be closed :D

[2019-12-07 07:51] mvhirsch commented on #36
Since `aws/aws-sdk-php` is included by default on api:v2-apache (and above) thanks to @WoLfulus, this issue looks like it can be safely closed. @benhaynes

https://github.com/directus/docker/blob/13ee51ba89f301c6f1dc98bfc727f966ff2cb2b9/images/base/api/apache/Dockerfile#L29

[2019-12-07 08:12] mvhirsch commented on #37
@WoLfulus I'm not exactly sure, how this should be configured (but I think `public-read` is now a default). Could you please help us on this?

Guessing this _should_ be the correct configuration afaik, using env:

[code]

[2019-12-07 08:23] mvhirsch commented on #82
Relates to #40

[2019-12-07 13:21] #36 closed

[2019-12-07 13:37] benhaynes commented on #82
Hey @WoLfulus — any thoughts on timing for getting all this organized? I know we want to push out the v8 Docker instances first, but after that we should use this ticket as a reference for cleaning up all the different Docker repos (on DockerHub) as well as READMEs and Docs. ❤️

[2019-12-09 17:10] GFWagnitz commented on #79
I Just experienced this and on a quick investigation found out the reason:

On setting up the context and created the nested structure from the environmnet variables, Directus uses _ to mark the nested structures. Kubernetes injects variables inside the container such as

KUBERNETES_PORT=tcp://<container_ip>:443
KUBERNETES_PORT_443_ADDR=tcp://<container_ip>:443
INGRESS_<INGRESS_ID>_PORT=
INGRESS_<

[2019-12-13 19:43] pwFoo opened #85 "How to deploy with docker swarm?"
I try to deploy directus with docker swarm and tried some compose I found.
I can reach the api und see the admin backend login page, but connection to api fails.

directus database isn't installed. So it looks like directus/api need an installer? but how to execute install of directus?

[2019-12-13 21:07] WoLfulus commented on #85
@pwFoo check examples's readme files. let me know if it works for you

[2019-12-13 22:43] pwFoo commented on #85
Example image:
[code]

But I tried it with:
[code]

Found how to install the database from inside of the container.
[code]
So it's installed and should be ready to login.

Connection between containers (app, api and mysql) works fine. Also api to mysql and app to api, but app still says "could not reach api"...?

[2019-12-14 09:16] pwFoo commented on #85
Added "/_/" to api path and now it works, but should be better documented and added examples how to install.

[2019-12-14 10:34] WoLfulus commented on #85
Separate api and app are not supported anymore in v8 and we'll not maintain those anymore. They are bundled together in `directus/directus` image now.

The installation process (as well as the steps needed to get the database installed), at least for now is documented on examples and their respective readmes.

These are supposed to be 1:1 with configuration files in which each level is separated b

[2019-12-16 13:45] WoLfulus commented on #83
This is applied already. We'll start creating releases here as soon as we make new `directus/directus` releases (that's how it's triggered).

[2019-12-16 13:45] #83 closed

[2019-12-16 15:02] WoLfulus commented on #63
This should be fixed by now, please let me know if there are any further issues, and refer to `examples` on how to run the installer.

https://github.com/directus/docker/tree/master/examples/simple

[2019-12-16 15:02] #63 closed

[2019-12-17 04:03] WoLfulus commented on #76
Solved in #9dcff9f5

[2019-12-17 04:03] #76 closed

[2019-12-17 04:04] WoLfulus commented on #21
This should be solved in
https://github.com/directus/docker/commit/9dcff9f5e0b25ba89116f6e2f15246c98cdbfe3c

I've added VOLUME instructions and folder seed to the image.

[2019-12-17 04:04] #21 closed

[2019-12-17 04:07] WoLfulus commented on #19
Yeah, this is pretty old and we changed a lot since then.

I'm closing this one. Let me know if this still persists in newer images (v8+)

Please follow the examples on `examples` folder on how to get it up and running (there are instructions in the example's readme file)

[2019-12-17 04:07] #19 closed

[2019-12-17 04:08] WoLfulus commented on #23
I'm closing this one since we have changed how app/api works (now they are bundled together) and this doesn't apply anymore.

[2019-12-17 04:08] #23 closed

[2019-12-17 04:12] WoLfulus commented on #37
@mvhirsch Yes, that should do it on newer images, but I'll still confirm it anyways this week.

[2019-12-17 04:13] WoLfulus commented on #42
I'm closing this one. Let me know if this still persists in newer images (v8+)

Please follow the examples on `examples` folder on how to get it up and running since we changed a lot of stuff after this was opened (there are instructions in the example's readme file)

[2019-12-17 04:13] #42 closed

[2019-12-17 04:18] WoLfulus commented on #70
Hi @zfalen , I haven't been able to work these issues lately, but I just read everything again and we won't handle this kind of operational stuff since we need to make it free for the end user to use whenever works for them. Adding a solution like this will likely raise problems with people doing more complex stuff (like me in my projects), so I'll be agnostic here and let the users handle this th

[2019-12-17 04:18] #70 closed

[2019-12-17 04:21] WoLfulus commented on #75
We changed a lot of stuff in v8, and now api and app are bundled together, this shouldn't be a problem anymore. The patch is already merged too, so...

I'm closing this one. Let me know if this still persists in newer images (v8+)

Please follow the examples on `examples` folder on how to get it up and running since we changed a lot of stuff after this was opened (there are instructions in the exa

[2019-12-17 04:21] #75 closed

[2019-12-17 04:22] WoLfulus commented on #77
I'm closing this one. Let me know if this still persists in newer images (v8+). We changed a lot of stuff in v8 and there are no more `api` and `app` anymore. They are now bundled together, which makes this obsolete.

[2019-12-17 04:22] #77 closed

[2019-12-17 04:23] WoLfulus commented on #79
Is this is still happening in v8? Please let me know and I'll get right into it.

[2019-12-17 04:24] WoLfulus commented on #85
@pwFoo please let me know if those examples works for you.

[2019-12-17 04:24] #85 closed

[2019-12-17 04:25] WoLfulus commented on #82
I'm working on this together with #15 #16 and #40

[2019-12-17 04:25] WoLfulus commented on #40
I'm working on this together with #15 #16 and #82

[2019-12-17 04:26] WoLfulus commented on #15
I'm working on this together with #16 #40 and #82

[2019-12-17 04:26] WoLfulus commented on #16
I'm working on this together with #15 #40 and #82

[2019-12-17 06:31] pwFoo commented on #85
Got it running with the directus image. Have to take a closer look into config options.

[2019-12-17 08:01] WoLfulus commented on #85
I'll write a proper documentation this week :)

[2019-12-17 16:35] zfalen commented on #70
Cool. At least this is here now so anyone else facing the same issue can see what we did to resolve it!

[2019-12-18 10:58] GFWagnitz commented on #79
@WoLfulus I was running the latest of directus/api

[2019-12-18 11:10] WoLfulus commented on #79
We deprecated api and app images, let me know if `directus/directus` works for you

[2020-01-05 20:40] moekify commented on #76
@WoLfulus, you made these changes 20 days ago, however latest image on dockerhub is from 23 days ago. Assuming, these are not in the current image on dockerhub.

When are the images usually updated?

[2020-01-06 14:27] benhaynes commented on #76
@WoLfulus 🔔

[2020-01-07 00:26] jooola commented on #82
@WoLfulus Just an idea to keep things in a single place: https://github.com/peter-evans/dockerhub-description

[2020-01-07 00:50] WoLfulus commented on #82
that is nice! I'll use that one as a base

[2020-01-07 05:43] mukowman opened #86 "Docker "Cannot serve directory /var/www/html/""
Trying out the new directus/directus docker image I was able to get the installtion and database setup completed but now receive the following error message when running the docker container. FYI I am not using docker-compose just docker with a separate mysql image.

Any ideas on which way to go?

[2020-01-07 13:48] eulervoid commented on #86
I'm getting a similar problem via docker-compose. The installation runs fine, but then there is nothing found at `/` or `/admin`. Apache seems to serve an empty `/var/www/html`. Is there maybe a step that should link `/var/directus/public` to `/var/www/html` that is not being performed?
Could it be because `docker-compose run` is run in a new docker container instead of the one being created by th

[2020-01-07 13:49] jooola opened #87 "Docker api testing image"
I started to import a project for gatsby at https://github.com/directus/gatsby-source, my main concern now is to test this tool using CI.
I found 2 ways of doing this:
- testing directly against the demo instance, but this add an external party to the tests and the stability might be impacted by any changes made up there.
- Creating a test API docker image, that can be run in CI as a service, and

[2020-01-07 13:54] WoLfulus commented on #87
Just to make sure I understand: a test image would be an image with builtin data?

[2020-01-07 13:55] WoLfulus commented on #86
The current image is broken. I'm about to push a fix for this.

[2020-01-07 13:55] jooola commented on #87
@WoLfulus Yeah that's the idea, and now that you say that, the existing image could provide these data ? This would be awesome !

[2020-01-07 13:57] jooola commented on #87
Ok, I just had a new way of doing this sorry to bother. If I create 2 services (directus and mysql) and migrate the database myself I can add any set of data I like.

[2020-01-07 14:07] #87 closed

[2020-01-07 14:13] WoLfulus commented on #87
You can also put a .sql dump mounted to mysql initialization container too. It will seed your database for you and you won't need to run the migration as an additional step.

BTW, I thought about this a while ago, even for testing if images are working properly inside travis (before pushing them), but I think this would be easier after we migrate to laravel (we'll be able to use sqlite as the data

[2020-01-07 14:47] WoLfulus commented on #86
Should be fixed in
https://github.com/directus/docker/releases/tag/v8.3.1%2Bdocker.1

Just pull your image again and let me know if there are any issues with it

[2020-01-07 14:47] #86 closed

[2020-01-07 20:33] incognitorobito opened #88 "Deploying without running the installer"
Hi, I'm trying to deploy the new v8 images under CapRover, which lets you quickly deploy docker containers. I was able to get the older versions of Directus working by modifying the sample docker compose files and 7.2 is available as a one click app for CapRover.

It looks like the v8 images require you to run installer scripts, though. I got v8 to deploy successfully under CapRover, but I have no

[2020-01-07 22:24] WoLfulus commented on #88
I ended up deciding to not implement "auto installations" after having some trouble with directus 7 images - it's hard to detect when to run install or not.

Anyways, I'll add a commandline flag for auto installation to cover those cases - at least is user-controlled

[2020-01-08 20:05] WoLfulus commented on #15
I think most of these are now solved by https://github.com/directus/docs/pull/258

[2020-01-08 20:05] #15 closed

[2020-01-20 19:38] WoLfulus commented on #82
docker hub is getting updated automatically now.

[2020-01-20 19:38] #82 closed

[2020-01-20 19:39] WoLfulus commented on #40
docker hub is getting updated automatically now. we're not adding a full guide over there but linking to a proper documentation as it uses the readme from this repository.

[2020-01-20 19:39] #40 closed

[2020-01-20 19:39] WoLfulus commented on #16
docker hub is getting updated automatically now.

[2020-01-20 19:39] #16 closed

[2020-01-22 23:56] radoslawadamiakinfinitec opened #90 "'Duplicate entry 'project_name' for key 'idx_key' when creating new project"
# Bug Report

## Steps to Reproduce

1. Follow steps of Docker installation
https://docs.directus.io/installation/docker.html
2. Try to create new project using endpoint:
http://localhost:8080/admin/#/install
2.a Create new database inside mysql running container:
`docker exec -it directus_mysql_1 mysql -uroot -p`
`MySql> CREATE DATABASE test;`
`MySql> GRANT ALL PRIVILEGES ON test.* TO 'directus'@

[2020-01-23 10:50] radoslawadamiakinfinitec opened #91 "Warning `Missing: mysqli` when creating project"
# Bug Report

## Steps to Reproduce

1. Follow steps of Docker installation
https://docs.directus.io/installation/docker.html
2. Try to create new project using endpoint:
http://localhost:8080/admin/#/install
3. See warning `Missing: mysqli`

## Expected Behavior

No warning on checkist when creating project.

## Actual Behavior

Check list is not fully _green_.

## Other Context & Screenshots

![

[2020-01-23 13:03] benhaynes commented on #91
Not sure what what was going on here (we'll research later), but @WoLfulus has created a hotfix for this issue:

https://github.com/directus/docker/releases/tag/v8.4.0+docker.1

[2020-01-23 13:03] #91 closed

[2020-01-23 13:04] WoLfulus commented on #90
Have you disabled environment variable loading in that case? Docker only supports a single project if you're loading from environment variables.

https://docs.directus.io/docker/overview.html#configuring

As for mysqli dependecy, we just released a hotfix that should fix it.

https://github.com/directus/docker/releases/tag/v8.4.0%2Bdocker.1

You can pull the image again to check if the warning is

[2020-01-25 05:22] gottlike opened #92 "Nginx version"
Will there be an nginx version too, now that the Docker refactor is complete?

This repo offers a pretty simple and clean Docker setup for PHP + Nginx btw: https://github.com/TrafeX/docker-php-nginx

[2020-01-25 22:30] WoLfulus commented on #92
I do want to offer an nginx image and even though the repository already supports building different image backends, we have no plans to implement it ourselves just yet.

[2020-01-26 09:35] gottlike commented on #92
Alright, thanks. Hope it will be done soon(ish) 🤞

[2020-01-27 16:24] jls-tschanzc opened #93 "How to provide array to environment"
I have deployed Directus on an EKS cluster and connected an RDS MariaDB instance; now I would like to enable SSL connectivity between Directus and the DB.

According to what I found in the repos this should be doable by setting:
[code]

Currently I have everything configured through env variables and [the docs say](https://docs.directus.io/docker/environment.html) that the `DIRECTUS_DATABASE_DRIVE

[2020-01-28 14:59] pmc-sstaehle commented on #88
I would also be very lucky about this feature. Is there a workaround at the moment? Something like bashing into the running container and run the installer from there?

[2020-01-28 15:34] WoLfulus commented on #88
still haven't implemented it yet, but it's on my todo list. I'll check if there's enough time to get it done this week.

[2020-01-29 14:00] artur-shaik opened #94 ""Couldn't reach API" on clean docker install."
Here is my docker-compose:

[code]

If I enter wrong username or password it shows: `Incorrect Email/Password`. But if I enter existed user credentials it shows: `Couldn't reach API`

No errors in `docker-compose up` logs.

So, the question is, where I can find debug information to find out where is problem?

[2020-01-29 14:04] Brian-Myers-Bose opened #95 "Add ability to increase Max Size of file uploads without building custom image"
The Max Size of file uploads is set to 2MB by default.  This is a PHP setting.  To overcome this in the past, we have needed to build custom images and define our own configuration variables.
Talk has been ongoing for at least the past couple of years about how to handle this and similar cases.  For instance, https://github.com/directus/docker/pull/30
Obviously, 2MB isn't going to work for many in

[2020-01-29 15:41] nachogarcia commented on #95
As a workaround, if it's for kubernetes, we use this lifecycle
[code]

[2020-01-29 15:45] Brian-Myers-Bose commented on #95
We've been editing the images/apache/Dockerfile

Search for Port

And before that section, we paste in

#
# Add max upload file soze
#
RUN php-ini-add "memory_limit=512M" && \
php-ini-add "post_max_size=64M" && \
php-ini-add "upload_max_filesize=64M"

Then just rebuild, tag with ECR value, push to ECR, and redeploy.

I'm going to look into your suggestion.  Thanks

[2020-01-29 19:55] leaflyhurley commented on #52
Here's my Apache workaround:

Dockerfile
[code]

Supporting Kubernetes configuration:
[code]

This container also works with the documented docker-compose.yaml but I did not test further with privilege limitation there.

The above concepts should work for Nginx as well but I have not written or tested against that base.

It may be preferable to support modulating the port at runtime for users who

[2020-01-29 20:22] WoLfulus commented on #90
Have you solved this @radoslawadamiakinfinitec ? Just let me know so I can close this one.

[2020-01-29 20:34] radoslawadamiakinfinitec commented on #90
@WoLfulus Yes I've solved it by switching from ENV vars to use config files.

[2020-01-29 22:52] WoLfulus commented on #90
Cool! :)

[2020-01-29 22:52] #90 closed

[2020-01-29 22:55] WoLfulus commented on #93
I'd suggest the constant defined by `PDO::MYSQL_ATTR_SSL_CAPATH` and using it as a suffix for `DIRECTUS_DATABASE_DRIVEROPTIONS_`

Let me know if that works as I'm unsure if this will conflict with the array parsing.

[2020-01-29 22:59] WoLfulus commented on #94
Mind sharing what is the image hash you're using? I'll try reproducing locally

[2020-01-30 01:31] artur-shaik commented on #94
Do you mean this:

[code]
?

[2020-01-30 01:38] artur-shaik commented on #94
I just find out, that if I connect directly to docker container, I can login.

But if through apache reverse proxy, I have above problem.

Here is my apache configuration:

[code]
Is there something I have missed?

[2020-02-06 18:29] Chrisstar56 opened #96 "Issues with installing docker image (Failed to connect to database)"
#Bug Report
This is my docker compose file: (I removed the mysql container after having the same problem and switched to using my own mariadb installation):
[code]
The problem is that everytime I try to run docker install, I get this error:
[code]
The database is definitely available under port 3306 and the user has host "%" so I don't see where the problem lies.
## Technical Details

- OS: Debian

[2020-02-06 19:54] Chrisstar56 commented on #96
You are right, that couldn't work (I am quite inexperienced with docker).
I tried it again with the sample docker compose file but it's still not working:
[code]

[2020-02-07 01:30] WoLfulus commented on #96
you are making container to container, port 3348 is a port exposed to your host, directus stills sees the container through 3306, so DIRECTUS_DATABASE_PORT is 3306, not 3348

[2020-02-07 01:30] #96 closed

[2020-02-08 23:06] niclaspallin opened #97 "Azure Blob Storage?"
Is there an adapter for Azure Blob Storage? Couldn't find anything in docs, would be a really nice feature.

[2020-02-10 00:20] benhaynes commented on #97
Hmm, I don't think so... I like the idea of an interface that stores files as a blob in the database though! 👍

[2020-02-11 18:55] damusix opened #98 "Docker: directus/directus:latest does not exist as an image"
# Bug Report

Trying to pull latest directus via kitematic and it does not have the `latest` tag

## Steps to Reproduce

download latest docker image `docker pull directus/directus:latest`
[code]

## Expected Behavior
Should pull the latest directus image

[2020-02-17 14:40] WoLfulus commented on #98
We don't push latest image. You should specify which image you want to use, for example "v8-apache"

[2020-02-17 14:40] #98 closed

[2020-02-17 20:22] zfalen opened #100 "Multitenancy using ENVARs"
Howdy! I am playing with v8+ after using v7 for awhile.

Obviously, API and App are bundled together now. I am curious how, if it's possible at all, to enable one Directus container to access multiple databases. In our case, this would be multiple DBaaS instances, some with more than one Directus database in them, some with just one.

In v7, we could spin up an API container for each one and assig

[2020-02-18 14:42] benhaynes commented on #100
One install instance of Directus can manage multiple databases (projects), some being public, and others private. This should give you the flexibility you need:

https://docs.directus.io/guides/projects.html

[2020-02-18 16:43] WoLfulus commented on #100
On v8, there's an endpoint that returns the installed projects, so there's no need to explicitly configure them.

But if you want to enable multi tenancy in docker, you're better disabling the environment variable setup and mounting project files instead. We don't have a proper way to setup multi project setups through environment variables right now.

I'll think a better way to handle this once w

[2020-02-18 17:17] zfalen commented on #100
Cool. I rather liked the `APP1`, `APP2`, `APP3` environment variable approach. It was really simple to just restart a container and get access to a new database. Although I suppose that raises the question of the install command needing to loop over all your "projects" and install them if they haven't been already, which was easier when a single API was linked to one DB.

Anyways, it would seem th

[2020-02-18 17:30] WoLfulus commented on #100
You can find it here: https://docs.directus.io/docker/overview.html#disabling-environment-variables

[2020-02-18 17:31] zfalen commented on #100
Well, yes, but I guess I was wondering if I can still use the envars from docker-compose, just add one that will turn off the error message above :)

[2020-02-18 17:46] zfalen commented on #100
@WoLfulus - ah, I see it. In /Directus/Config/Context.php:
[code]

And in Directus/Services/ProjectService.php:
[code]

My assumption is that disabling `DIRECTUS_USE_ENV` also disables all my other envars, so I answered my own question. And we will have to pass on that for now. Will use single installs for each app instead. 🙂

[2020-02-18 18:42] zfalen commented on #100
@WoLfulus - where can I find an example with a complete `config.php` file to reference in case I go down the no envars path?

[2020-02-18 19:07] WoLfulus commented on #100
the wizard should generate it, but here's one https://github.com/directus/api/blob/master/config/_example.php

[2020-02-18 19:07] zfalen commented on #100
You da man. Thx.

[2020-02-18 19:08] WoLfulus commented on #100
just make sure the volume has the right permissions if you're using mounts (www-data)

closing this one

[2020-02-18 19:08] #100 closed

[2020-02-18 21:57] Uter1007 opened #101 "Unable to create the config file at "/var/directus""
Can not figure out how to use the Docker Installation guide with files instead ENV so I could use multiple projects.

Can somebody give a short instruction, how to setup correctly ?

[2020-02-21 10:07] bm-stschneider opened #102 "DockerHub image manifest unknown"
It seems that there is currently a problem with the dockerhub image.

Error response from daemon: manifest for directus/directus:latest not found: manifest unknown: manifest unknown

[2020-02-21 17:08] WoLfulus commented on #102
Duplicate of #62

[2020-02-21 17:08] #102 closed

[2020-02-25 11:05] beninada commented on #101
If you are using the docker compose file provided by the simple example (or if you have a similar docker compose file using the mysql:mysql link), you'll need to change the "host" field in your project config to "mysql" instead of "localhost".

[2020-02-25 15:41] jls-tschanzc commented on #93
@WoLfulus Do you mean like this?
[code]

[2020-02-27 22:05] egel opened #103 "Change the size of uploaded file"
### Expected behavior
As a developer

I want to be able to change `upload_max_filesize` from apache config

so I can change how large files I want to upload.

### Actual behavior
In current version v8.5.5-apache there is no option to easily customize the maximal size of uploaded files.

### Acceptance

- [ ] developer is able to customize `upload_max_filesize` in development and production environ

[2020-02-28 10:38] thueske opened #104 "Enable OpCache"
Any ideas for enabling opcache in the default docker images?

[2020-03-02 12:19] apiraino commented on #103
@egel it's already possible what you're asking.

You can expose the `directus-custom.ini` (which I believe it's there for this purpose) on the host filesystem:
[code]

and there you can override the PHP config editing the `./data/php.ini` file

Hope this helps!

[2020-03-02 12:34] apiraino opened #105 "Pre-install and enable PHP Redis and Memcached modules"
Hi,

as per Slack channel discussion, here's a reminder to preinstall the PHP modules for caching

https://github.com/directus/docker/blob/master/examples/custom-images/Dockerfile#L4-L6

thanks!

cc: @casey-chow

[2020-03-02 12:37] apiraino commented on #95
hey guys how about https://github.com/directus/docker/issues/103#issuecomment-593375413 ?

And also https://github.com/directus/docker/pull/30#issuecomment-471780967

Does it make sense?

[2020-03-02 13:08] nachogarcia commented on #95
We modify the params when our container starts. Haven't tried that approach but it should work.
[code]

[2020-03-02 14:59] Brian-Myers-Bose commented on #95
btw We use the approach Nacho previously posted.  It has worked flawlessly for over a month.

[2020-03-02 22:01] egel commented on #103
Thank you @apiraino. 🙌  I couldn't find that after the first quick search and skim through all issues. I think I missed that then. I'll try this soon and give feedback about it.

PS. Is this mentioned somewhere in documentation? If not, would be great to add it there.

[2020-03-02 22:48] egel commented on #103
Yes, this works perfectly fine. Thank you @apiraino for your help! 🙌

[2020-03-02 22:49] #103 closed

[2020-03-03 10:24] apiraino commented on #103
I see a [reference here](https://docs.directus.io/getting-started/troubleshooting.html#frequently-asked-questions), the rest is Docker knowledge you can get [from their documentation](https://docs.docker.com/compose/compose-file/#volumes).

[2020-03-21 11:37] beningreenjam opened #107 "Unable to connect to mysql database outside of docker container"
I'm attempting to use the official `directus/directus:v8-apache` docker image to connect to a mysql database outside of the container.

After successfully starting the container, I'm able to reach step 4 of the project setup UI at `/admin/#/install`. I enter the following details (which I have confirmed are correct via testing through my local cli):

host: 127.0.0.1
port: 3306
database user: cms
d

[2020-03-22 23:54] Uter1007 opened #108 "Error parsing reference: "directus/directus:-apache" is not a valid repository/tag: invalid reference format"
When executing the build script, I am getting this error:

Error parsing reference: "directus/directus:-apache" is not a valid repository/tag: invalid reference format

[2020-03-23 00:48] Uter1007 commented on #101
thx when the admin menu shows up and I am using directus in name, usernam it is telling me that the database already exists (thx to the docker-compose run directus install --email email@example.com --password xxx). When I try to use another database name I am getting: message: "Invalid database connection". Do I need complete empty database do I have to use different users ?

[2020-03-23 01:18] Uter1007 commented on #101
Is there a tutorial or can someone give me a step 4 step intro how to create via docker two projects side be side with directus ? All the problems occurs when I am using => DIRECTUS_USE_ENV:0, but without this option I can not add any new project.

[2020-03-25 19:02] stouch opened #109 "How are built the URL (base URL ?) in directus backoffice ?"
Hi,

This is my setup :
- directus/directus:v8.2.6-apache exposed on port 8080
- nginx proxy_pass from ```/cms``` to port 8080 with a rewrite ```/cms(.*) $1 break;```

I can run my Directus backoffice and API under ```/cms/xxx``` but I've 2 big issues :
- when I upload a project logo ```mydomain.com/cms/admin/#/_/settings/global```, the logo is well uploaded in ```mydomain.com/cms/_/assets/...```

[2020-03-26 18:55] Brian-Myers-Bose opened #110 "EKS - Upon container restart, must flush out Redis"
Upon occasional container restarts in AWS EKS, Directus UI will still load but report within the display a Server Error (no left pane, red circle middle of screen).  The issue goes away when one reboots the master Redis node.
1. What is causing this?
2. How to overcome it?
3. How to set up an alarm, probably using Cloudwatch, to catch and respond?

[2020-03-26 21:02] lluishi93 opened #111 "Can't upload files to s3 using docker image"
I'm having trouble while uploading filles from docker container to s3. I have set the following variables with their values, I have my S3 bucket with public permissions and I am using a root access/secret key pair in AWS, and I’m not succeeding at uploading files to the bucket, and when checking the trace from the server I cannot get any information besides http response with a 500 http code,  am

[2020-03-30 14:47] asitemade4u opened #112 "Help needed: setup projects on a docker-based server"
- I have the last version of directus on docker installed on my local server
- I have made the `/var/directus/config` folder persistent by mapping it to a folder on the server hdd
- as per your instructions, I have duplicated the `_example.php` file into a `dts.php` file as the project is called `dts`

I have changed several things in the `dts.php` file: the username, the password, the host. I hav

[2020-03-31 23:29] lluishi93 commented on #111
@WoLfulus Could you please provide me some s3 configuration setup? The one seen in the examples doesn't seem to work for me, so maybe I'm missing something

[2020-04-05 01:39] bskimball opened #113 "How do you send an email from a custom hook?"
The example shows using a notify function when an item is created. How should that notify function look if it were to include the environment variables provided?

I'm trying this
[code]

but I get a validation error about RFC 2822 and the mail format

[2020-04-06 18:24] PostPollux opened #114 "Array environment variables not working with docker"
Having a look at the documentation about how to use the docker version of Directus there is a list of environment variables:
https://docs.directus.io/docker/environment.html#all-variables

A lot of the environment variables are "arrays". How can one set array environment variables in docker. I don't think it's possible, or is it? I think this should be mentiond somewhere. It's a bit misleading lik

[2020-04-07 01:04] shaunc opened #115 "question/doc: what values should DIRECTUS_AUTH_SECRETKEY, DIRECTUS_AUTH_PUBLICKEY have?"
The documentation says that these should be random strings. Usually a public key has a specific relationship to a private key. How are these used? Are they related to bearer tokens on the API? How does one generate tokens to match these? In general, how auth works is poorly explained in the documentation.

[2020-04-07 14:45] bskimball commented on #113
FWIW - I could not get the MailService working correctly. I also tried the sendWithLayout functions provided by Mailer.php, but got the same error.

I ended up just using the Swift Mailer library directly. I did not need the twig templates, so this was not an issue.

[2020-04-09 23:35] lluishi93 opened #116 "Built-in locales not working"
When I try to use some of the default built-in locales, like Spanish (spain) (es-ES), the UI is still showing english labels.

I'm using the docker image, with the directus/directus:v8-apache tag.

![image](https://user-images.githubusercontent.com/14786440/78949352-8bc33f80-7acb-11ea-9979-387c5a0a0f67.png)

![image](https://user-images.githubusercontent.com/14786440/78949358-9251b700-7acb-11ea-93

[2020-04-13 17:41] avocadochicken commented on #94
From time to time I have the same issue. This might help to trace it down:

[code]

By the way. How to change the ServerName in order to get rid of this error, which might lead to other issues?!
[code]

[2020-04-17 21:16] WoLfulus commented on #115
it can be literally anything, it just shouldn't be the same for security reasons (i enforced this on docker images but i think api still allows it to have the same value for both)

if i'm not mistaken, the secret key is used as a jwt password for HS256 algo, and public is a key that goes into the jwt payload

[2020-04-23 20:15] akadoya opened #117 "No log?"

[2020-04-24 14:25] WoLfulus commented on #117
Are you disabling `DIRECTUS_USE_ENV`? If so set your config's `directus.logger.path` to `php://stdout`

[2020-04-25 00:11] akadoya commented on #117
Hi, No I am using the environment variables to configure.
[root@auscms101z ~]# docker exec -it directus_stage_9000 env |grep DIRECT
DIRECTUS_ENV=development_enforce_nonce
DIRECTUS_AUTH_PUBLICKEY=xxxx
DIRECTUS_AUTH_SECRETKEY=xxxx
DIRECTUS_DATABASE_HOST=xxxx
DIRECTUS_DATABASE_PORT=xxxx
DIRECTUS_DATABASE_NAME=xxxx
DIRECTUS_DATABASE_USERNAME=xxxx
DIRECTUS_DATABASE_PASSWORD=xxxx
DIRECTUS_STORAGE_ADAPTE

[2020-04-25 01:06] akadoya commented on #117
tried with DIRECTUS_LOGGER_PATH, but nothing's changed. all I see is apache logs and error stack trace.
what I'd like to see is API response.

[2020-04-25 01:55] WoLfulus commented on #117
it is set by default if you're using environment variables, weird it's not displaying. the apache logs are fine?

[2020-04-25 14:26] darioseidl commented on #107
On Linux you could add `network_mode: "host"` to your directus service. That should allow you to access the database on your localhost from the container.

But I see you're on Mac OS, I don't think "host" network mode is supported there. You can look [here](https://docs.docker.com/docker-for-mac/networking/#use-cases-and-workarounds) for a possible workaround.

[2020-04-25 23:35] akadoya commented on #117
yes apache logs are in stdout.
These are the outputs from my local test env. DIRECTUS_ENV is set to development and I was expecting to see API output logs either in stdout or the log file but neither of them has such entries.
[code]

[2020-04-27 02:21] notio-ca commented on #111
I was able to reproduce, with the environment variable, and then I decided to DIRECTUS_USE_ENV: 0 and use the /config/api.php as configuration. I am using the same setting on a Djando python app and works properly. I took exactly the same config ([here](https://docs.directus.io/extensions/storage-adapters.html#using-aws-s3)) and end up with:

'storage' => [
    'adapter' => 's3',
    'key' => 'AKI

[2020-04-27 03:09] notio-ca commented on #111
@lluishi93 this is working properly, here is my working docker-compose.yml:

version: "2.2"
services:
  directus:
    image: directus/directus:v8-apache
    container_name: directus
    environment:
      DIRECTUS_APP_ENV: "production"
      DIRECTUS_AUTH_PUBLICKEY: "xxxxxxxxxxxxxxxxxx"
      DIRECTUS_AUTH_SECRETKEY: "xxxxxxxxxxxxxxxxxx"
      DIRECTUS_DATABASE_HOST: "mysql"
      DIRECTUS_DATABAS

[2020-04-27 13:48] hervedevos opened #118 "Ability to target an API located on another domain from Admin panel"
# Feature Request

We would like to be able to change API base PATH in directus Docker image so we would be able to expose the API to a specific domain and access the APIs located on another domain from admin panel.

## What problem does this feature solve?

It's not possible from admin panel to access a directus API located on another domain

## How do you think this should be implemented?

Provi

[2020-04-28 16:55] darioseidl opened #119 "Directus Tables created in "utf8" instead of "utf8mb4""
I'm new to Directus, and I have a few questions. When I setup Directus with Docker using a compose file as shown [here](https://docs.directus.io/installation/docker.html), with this command flags added to the MySQL container:

    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake

and then run the install:

[2020-05-10 13:11] oliversavio commented on #111
I too have this issue. I notice the call to `ListObjects` when uploading a file fails, I've given the IAM use full access to S3 and I'm able to list / write objects via CLI.

[code]

[2020-05-10 13:28] oliversavio commented on #107
@beningreenjam , if you're running on MacOS set `DIRECTUS_DATABASE_HOST: "host.docker.internal"` This allows a docker container to access the database running on the host.

[2020-05-12 19:09] jcharnley commented on #111
am having some the same issue. might have something to do with the bucket policy...

[2020-05-13 07:41] jcharnley commented on #111
Below works for me I got rid of the ENDPOINT, the ROOTURL was confusing as I had to upload a file to see the url. Also good to define folders where you want the images to go. If futher issues it could be linked to your bucket policy

  DIRECTUS_STORAGE_ROOT: "/uploads"
      DIRECTUS_STORAGE_THUMBROOT: "/thumbnails"
      DIRECTUS_STORAGE_ADAPTER: "s3"
      DIRECTUS_STORAGE_VERSION: "latest"

[2020-05-13 10:08] oliversavio commented on #111
Super! I disabled ENDPOINT and set my S3 bucket to public access and it works now.

[2020-05-18 14:59] colorao opened #120 ".htaccess on docker"
Hi
In my Angular frontEnd I do need to read some static files  (xml or svg) But I'm blocked by CORS policy.
I've read I could do it by adding a .htaccess in the root folder.
But I'm using docker so there's no root for to add the files.
How can I do it ?
In my project's php config file, CORS are enabled:
`    'cors' => [
        'enabled' => true,
        'origin' => array (
  0 => '*',
),

[2020-05-26 21:47] MarcHagen opened #121 "Docker use of /run/secrets"
In cluster environments its common practice to use secret files instead of environment keys for passwords.

At the moment there is no such implementation for Directus docker, but i would really like to have it so i can use existing secrets to relay information.

[2020-05-27 13:07] mvhirsch commented on #104
Okay, just saw the `opcache` php module is currently not installed in latest docker image.

[2020-05-27 15:33] WoLfulus commented on #104
I'll check if we can enable it by default in future releases, or have a way to easily enable it through env.

[2020-05-29 13:57] Serg-de-Adelantado commented on #94
Just encountered the same issue on `directus/directus:v8.7.2-apache`. It is not reproducing on `directus/directus:v8.7.1-apache`. I faced this issue during testing of Directus instance deployed on domain-less host, i.e. via direct IP access, not sure if it matters.

[2020-05-29 16:02] WoLfulus commented on #94
we have little to no feedback on these "couldn't reach api" cases, on @Serg-de-Adelantado case for example, the new cookies in 8.7.2 requires SSL to be enabled. let me know if this is still happening in other/localhost scenarios and I'll reopen this one.

[2020-05-29 16:02] #94 closed

[2020-05-29 21:59] jonafriendj commented on #94
I am experiencing this same behavior. Using the example docker-compose.yaml there is no https and the gui is access using http://localhost:8080. Based on your comment about the cookies requiring SSL, could that be the issue?

[2020-05-29 22:14] edvasqueza opened #122 "Upgrade to v8.7.2 breaks login"
Hello, I'm running the docker version (from dockerhub) and today I upgraded from v8.7.1-apache to v8.7.2-apache. After the upgrade the login page shows "Couldn't reach API" when correct credentials are given.

Besides that I could notice a difference in the GET /projectid endpoint

v8.7.1
```{"data":{"api":{"version":"8.7.1","requires2FA":false,"database":"mysql","project_logo":null,"project_color

[2020-05-29 22:17] benhaynes commented on #94
Yes, that seems likely to me... 8.7.2 now requires HTTPS (even locally).

[2020-05-30 01:42] justinledelson commented on #94
@benhaynes could you perhaps update your docker image to include local SSL or direct me to a resource?

[2020-05-30 13:36] benhaynes commented on #94
Well _I_ can't, but @WoLfulus can respond to that... 😄

[2020-05-30 13:40] benhaynes commented on #122
@directus/team — this seems to be the HTTPS issue, right? Is there a way we can get Docker to run properly out-of-the-box?

[2020-05-30 15:25] rijkvanzanten commented on #122
@edvasqueza Ensure that your API is running under HTTPS.

@WoLfulus is that something we can provide ootb?

[2020-06-01 20:58] jonafriendj commented on #94
It does say in the documentation:
"The current container images don't provide SSL support out of the box. In order to do this, you can use a reverse proxy in front of the Directus container, like Traefik, Caddy or an external one like Cloudflare"

I have spent the better part of a day trying to figure this out with no luck.  Hope you have better luck than me!

[2020-06-01 23:40] Serg-de-Adelantado commented on #116
@lluishi93 I had the same issue, make sure that you selected the same locale in your profile, it's English by default for a user created on initial database setup.

[2020-06-02 06:09] mvhirsch commented on #122
I'm running into same issue. I'm using Directus on Kubernetes, so the APIs request is probably HTTP, but for public it is HTTPS (using a L7 Ingress, which does SSL-handshaking for public).

Is that my issue? Do I need to pass-through SSL to Directus directly?

[2020-06-02 07:06] mvhirsch commented on #108
Hi @Uter1007 ,

how do you execute the build script? Did you specify a `--version`?

[2020-06-02 12:57] WoLfulus commented on #94
I'm updating the samples to have SSL enabled. No ETA for landing on master yet, but I do expect to get it pushed this week.

[2020-06-02 14:03] WoLfulus commented on #94
I've just pushed the examples with https enabled on master. Please check `basic` and `basic-multi-tenancy` examples.

[2020-06-02 14:31] edvasqueza commented on #122
I'm also running it on kubernetes. Did a rollback to v8.7.1 in the meantime.

[2020-06-02 14:50] WoLfulus commented on #122
I've updated the examples to quickly enable https through caddy.

As for kubernetes, if the api requests are being made through `https` and `app` served on it as well, and under the same domain, there shouldn't be a problem.

Please let me know if that's the case.

[2020-06-02 15:27] jonafriendj commented on #94
Works like a charm. Thank you!!

[2020-06-02 19:20] #121 closed

[2020-06-04 09:04] jroxendal commented on #122
From the Caddy example I get:
[code]

[2020-06-11 01:17] mdiez-modus commented on #95
There is a way to change this on both `docker-compose.yml` and `AWS/ECS` without having to recreate the container.

Here is what one should do on `docker-compose.yml`:

[code]

And here is the equivalent syntax on ECS:

[code]

[2020-06-11 01:20] marcosdiez commented on #95
There is a way to change this on both `docker-compose.yml` and `AWS/ECS` without having to recreate the container.

Here is what one should do on `docker-compose.yml`:

[code]

And here is the equivalent syntax on ECS:

[code]

[2020-06-15 18:48] enodr commented on #122
Hi same problem here, installed directus docker per official instructions. Everything went fine but when trying to login there is an error "Couldn't reach API". The doc mentions HTTPS being mendatory but nothing specific as to what and where to look. Shouldn't the default config work out of the box ?

[2020-06-15 18:55] jroxendal commented on #122
I couldn't get this to work with the caddy in docker-compose, but installing caddy locally and reverse-proxying to Directus worked. On a mac:

First, expose the api to port 8080 by adding
[code]
to your docker-compose.yml under the directus block. Then, `brew install caddy`

[code]

This makes https://localhost:2020 point to Directus, which now works to log in to.

[2020-06-18 06:47] #115 closed

[2020-06-18 06:48] WoLfulus commented on #121
We'll be adding this on v9/v10

[2020-06-18 06:53] MarcHagen commented on #121
Yeah, didn’t know if was “allowed”/desired to make issues here.
That’s why I also made a discussion on the main project.

[2020-06-18 19:12] rijkvanzanten commented on #122
This whole "HTTPS is required for cross site cookies" situation is super annoying :/ Here's to hoping browser makers don't decide to do another stunt like that soon..

In the meantime, I've released v8.8.0 that makes the cookie's Secure flag configurable and disabled by default, so that should take care of all these local running issues 👍

[2020-06-18 19:12] #122 closed

[2020-06-30 18:43] aleprice commented on #93
Hi @jls-tschanzc, do you found a way to solve it? I'm with the same problem right now
Regards!

[2020-07-08 19:07] forladolby commented on #93
Hi guys! We're dealing with the same issue. Any doc to how to pass the array with for the pdo driver options?
We tried `DIRECTUS_DATABASE_DRIVEROPTIONS=[PDO::MYSQL_ATTR_SSL_CAPATH => '/var/directus/config/certs']` but it's not working

Cheers

[2020-07-08 19:32] matias-devoto commented on #93
Hi

With directus 8 running in docker and trying to connect to azure mysql database, I have tried all the combinations with the env var and had no success.

@WoLfulus do you have another recomendation?

right now my env var looks like this
DIRECTUS_DATABASE_DRIVEROPTIONS: "['PDO::MYSQL_ATTR_SSL_CA' => '/certs/BaltimoreCyberTrustRoot.crt.pem', 'PDO::MYSQL_ATTR_SSL_CAPATH' => NULL, 'PDO::MYSQL_ATTR_

[2020-07-12 23:53] la55u opened #124 "Basic example doesn't work with docker"
Steps to reproduce:

1. copy the [docker-compose](https://github.com/directus/docker/blob/master/examples/basic/docker-compose.yaml) file from the example
2. run `docker-compose up`
3. run the installer: `docker-compose run directus install --email test@test.com --password password`

Output of step 3:
[code]
Trying with `--force` results in the same output.
When  I try to access `https://localhost

[2020-07-20 21:10] matias-devoto commented on #93
Hi,

we have fixed it overwritting the file /var/directus/src/core/Directus/Application/CoreServicesProvider.php, setting some env vars and adding some lines on the getDatabase function (line 687)

$options = [
                'driver_options' => [
                \PDO::MYSQL_ATTR_SSL_CA => getenv('MYSQL_ATTR_SSL_CA'),
                \PDO::MYSQL_ATTR_SSL_CIPHER => getenv('MYSQL_ATTR_SSL_CIPHER'),

[2020-07-24 20:50] matias-devoto commented on #93
I had some problems initialization the database so i uploded a dump and now its throwing an error saying that de ssl connection is required.

It doesnt make sense if first says that a tables is missing (i think that is like it can connecto to the database ok) and then when you load a dump it says that you need the ssl

[2020-08-03 08:09] botzill commented on #93
I did a search of `DIRECTUS_DATABASE_DRIVEROPTIONS` into `directus` project but I don't see any place where it's used.

Any updates?

[2020-08-05 14:34] asteinarson opened #125 "Unable to connect to DB using other than links in docker-compose.yaml"
The background to this issue is that I wanted to use the Docker compose file to connect to a pre-existing database.

So I essentially only changed the DB host in docker-compose.yaml:

`DIRECTUS_DATABASE_HOST: "mysql" `

to:

`DIRECTUS_DATABASE_HOST: "172.17.0.3" `

I.e. using an IP address (in place of the compose link). On trying this out (running `docker-compose run --rm directus install ...` I

[2020-08-05 14:36] asteinarson commented on #125
...I should mention that I do get the unmodified docker-compose.yaml to work, where Directus and MySQL are created in the same script and connected via links.

[2020-08-06 15:19] AlphaMoonbaseBerlin opened #126 "Add same_site and secure flags to environment variables"
Would be great to not have to mount a  {project}.php config file just to set the same_site and secure flags when everything else can bet set via environment variables in the docker-compose.yaml file.

[2020-08-07 09:43] higoorc opened #127 "Permission denied when trying directus install"
Hello guys,

I'm trying to build a docker image using my private repository but something is wrong with permissions when Directus try to initialize the database configuration.

I'm building using `docker build` and running using environment variables to force install. This same image works fine If the database already was initialized, the only problem is to run directus install.

![image](https://

[2020-08-26 12:45] spawnrider commented on #122
This is configurable but not using Environment variables :( Is it possible to add some variable to set cookie settings?
For exemple : DIRECTUS_COOKIE_SECURE & DIRECTUS_COOKIE_SAME_SITE

[2020-10-17 04:40] viclix10 commented on #118
Why this FR only for docker? Is it something we can do on non-docker-based installations?

[2020-10-27 14:49] helge000 commented on #37
@WoLfulus - Seeing this issue still open, 'public-read' is not a sensible default:

[code]

It should really be unset by default - as in this case the ACL of the bucket is used. The way it is now it will not work out of the box with default private buckets.

[2020-11-12 19:34] patvong commented on #117
I have the same issue. Were you able to resolve this @akadoya ?

[2020-11-14 22:11] patvong commented on #117
@akadoya I was able to produce logs by copying the `config/_example.php` file to `config/example.php`:
[code]
Then restart your docker containers.

[2020-11-17 03:15] akadoya commented on #117
great to know, thanks!